Repository edmcouncil/fibo, pull requests merged in 2020-09, with the labels that each got.

#1130 SEC-73 - The equity instruments ontology is missing details needed to represent preferred shares
  FBC/DebtAndEquities/Debt.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  SEC/Debt/Bonds.rdf
  SEC/Debt/DebtInstruments.rdf
  SEC/Equities/EquityInstruments.rdf
  SEC/Securities/SecuritiesIssuance.rdf
Labels: FBC, SEC, consistency, enhancement, modularization, use case

#1132 Fix to bad characters check
  etc/testing/hygiene/testHygiene0114.sparql
Labels: enhancement, hygiene

#1131 Tests for Quality Compliance - Synonyms as classes
  etc/testing/hygiene/testHygiene1103.sparql
Labels: enhancement, hygiene

#1143 IND-98 - Missing concepts related to part-time employment and underemployment
  IND/EconomicIndicators/EconomicIndicators.rdf
Labels: IND, enhancement

#1141 Ontology guide update with new hygiene test descriptions
  ONTOLOGY_GUIDE.md
Labels: ONTOLOGY_GUIDE.md

#1148 FND-315 - The Rate class in Quantities and Units is redundant with Ratio in Analytic
  FND/Quantities/QuantitiesAndUnits.rdf
  FND/Utilities/Analytics.rdf
Labels: FND, consistency

#1150 FND-312 - The Occurrences ontology includes a property, hasDescription, that is largely redundant with isDescribedBy and the concepts of occurrence and occurrence kind need clarification
  FBC/DebtAndEquities/CreditRatings.rdf
  FND/DatesAndTimes/Occurrences.rdf
Labels: FND, consistency, definition

#1151 Hygiene check for disjunctive definitions
  etc/testing/hygiene/testHygiene1127.sparql
Labels: consistency, definition, hygiene

#1153 FBC-259 and LOAN-158 - Eliminate circular owl:imports
  FBC/FunctionalEntities/BusinessCenters.rdf
  LOAN/LoanContracts/LoanHMDA.rdf
Labels: FBC, LOAN, bug

#1156 FBC-236 - Issues with credit events
  AboutFIBOProd.rdf
  FBC/AllFBC.rdf
  FBC/DebtAndEquities/CreditEvents.rdf
  FND/Agreements/Contracts.rdf
Labels: FBC, consistency, enhancement

#1159 FBC-260 - Need the ability to represent credit card accounts
  AboutFIBODev.rdf
  BE/FunctionalEntities/FunctionalEntities.rdf
  FBC/FunctionalEntities/FinancialServicesEntities.rdf
  FBC/ProductsAndServices/CardAccounts.rdf
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
  FBC/ProductsAndServices/MetadataFBCProductsAndServices.rdf
  FND/Arrangements/Documents.rdf
  FND/Relations/Relations.rdf
  catalog-v001.xml
Labels: FBC, FIBO schema.org, enhancement

#1162 LOAN-159 - Mistyped import in AllLOAN ontology
  LOAN/AllLOAN.rdf
Labels: LOAN, bug

#1163 DER-76 - Bad prefix definition
  DER/DerivativesContracts/DerivativesMasterAgreements.rdf
Labels: DER, bug

#1166 FND-316 - Need to add the concept of a reassignable identifier that is time constrained
  FND/Arrangements/IdentifiersAndIndices.rdf
Labels: FND, enhancement

#1165 DER-75 - Integrate recent work on Derivatives, including security-based swaps
  AboutFIBODev.rdf
  DER/CommoditiesDerivatives/Commodities.rdf
  DER/CommoditiesDerivatives/CommoditiesContracts.rdf
  DER/CommoditiesDerivatives/CommodityForwards.rdf
  DER/CommoditiesDerivatives/CommodityOptions.rdf
  DER/CommoditiesDerivatives/CommoditySpots.rdf
  DER/CommoditiesDerivatives/CommoditySwaps.rdf
  DER/CommoditiesDerivatives/MetadataDERCommoditiesDerivatives.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/DerivativesContracts/ReturnSwaps.rdf
  DER/DerivativesContracts/Swaps.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  DER/ExchangeTradedDerivatives/Futures.rdf
  DER/SecurityBasedDerivatives/EquityForwards.rdf
  DER/SecurityBasedDerivatives/EquityOptions.rdf
  DER/SecurityBasedDerivatives/EquitySwaps.rdf
  DER/SecurityBasedDerivatives/SecurityBasedDerivatives.rdf
  IND/MarketIndices/BasketIndices.rdf
  catalog-v001.xml
Labels: DER, consistency, definition, enhancement

#1172 FND-314 - The restriction that links a jurisdiction to the legal system applied by the judiciary in that jurisdiction is overly constraining and not needed
  FND/Law/Jurisdiction.rdf
Labels: BE, FND, consistency

#1168 IND-99 - Revise the market baskets and benchmark examples for release
  AboutFIBOProd.rdf
  IND/AllIND-ExampleIndividuals.rdf
  IND/AllIND.rdf
  IND/MarketIndices/BasketIndices.rdf
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
  IND/MarketIndices/MetadataINDMarketIndices.rdf
Labels: IND, enhancement

#1174 DER-75 - Additional clean-up is needed in the SecurityBasedSwaps and EquitySwaps
  DER/SecurityBasedDerivatives/EquityForwards.rdf
  DER/SecurityBasedDerivatives/EquitySwaps.rdf
  DER/SecurityBasedDerivatives/SecurityBasedDerivatives.rdf
Labels: DER, consistency

#1176 BE-226 - Additional refinement is needed regarding merchants and merchant category codes
  BE/FunctionalEntities/FunctionalEntities.rdf
Labels: BE, consistency

#1179 FBC-261 - Need better and complete alignment of account and account-related properties with the situation pattern
  BE/OwnershipAndControl/CorporateOwnership.rdf
  BE/OwnershipAndControl/OwnershipParties.rdf
  FBC/ProductsAndServices/CardAccounts.rdf
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
  FND/Parties/Parties.rdf
Labels: BE, FBC, consistency

#1181 SEC-128 - A ticker symbol can identify more than one listing over time, even on the same exchange
  SEC/Securities/SecuritiesIdentification.rdf
Labels: SEC, consistency

#1183 SEC-133 - Eliminate circular and ambiguous definitions in Bonds
  SEC/Debt/Bonds.rdf
Labels: SEC, definition

#1170 OG-1169 - The ontology guide needs to be updated with respect to why not to use PROV
  ONTOLOGY_GUIDE.md
Labels: ONTOLOGY_GUIDE.md

#1185 BE-227 - Editorial correction to eliminate a smart quote in the definition of family office
  BE/FunctionalEntities/FunctionalEntities.rdf
Labels: BE, bug
