Repository edmcouncil/fibo, pull requests merged in 2020-06, with the labels that each got.

#1021 SEC 73 - Augment the equities concepts with their CFI classification
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  SEC/AllSEC-ReferenceIndividuals.rdf
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityCFIClassificationIndividuals.rdf
  SEC/Securities/SecuritiesClassification.rdf
  catalog-v001.xml
Labels: SEC, enhancement

#1025 FND-299 - Issue with the explanatory note on currency identifier
  FND/Accounting/CurrencyAmount.rdf
Labels: FND, bug

#1020 Changes in the Ontology Guide
  ONTOLOGY_GUIDE.md
Labels: ONTOLOGY_GUIDE.md

#1023 FND-293 - Correct subclass relation for MaturityLevel, subproperty hierarchy for adaptedFrom and logicalDefinition
  FND/Arrangements/Lifecycles.rdf
  FND/Utilities/AnnotationVocabulary.rdf
Labels: FND, consistency

#1026 FND-300 - hasInforce capitalization
  FND/Law/LegalCore.rdf
Labels: FND, bug

#1030 BE-212 - A beneficial owner is not an owner
  BE/OwnershipAndControl/CorporateOwnership.rdf
Labels: BE, bug, consistency

#1032 BE-44 - There are a number of gaps related to ownership and control that require representation of the concept of a situation
  BE/OwnershipAndControl/ControlParties.rdf
  BE/OwnershipAndControl/OwnershipParties.rdf
  FND/OwnershipAndControl/Control.rdf
  FND/OwnershipAndControl/Ownership.rdf
  FND/Parties/Parties.rdf
Labels: BE, FND, bug, consistency

#1028 BE-211 - The domain of hasMajorityControllingInterestParty is StockCorporation, which is too narrow
  BE/OwnershipAndControl/CorporateControl.rdf
Labels: BE, bug, consistency

#1035 BE-214 - The semantics of isPartiallyOwnedBy and its subproperties and inverses are wrong
  BE/OwnershipAndControl/ControlParties.rdf
  BE/OwnershipAndControl/OwnershipParties.rdf
Labels: BE, bug, consistency

#1038 BE-209 - SoleProprietorship is redundantly declared to be a subclass of FormalOrganization
  BE/SoleProprietorships/SoleProprietorships.rdf
Labels: BE, consistency

#1040 BE-44 - Complete inverse relations for lattice and simplify property names
  BE/OwnershipAndControl/OwnershipParties.rdf
  FND/Parties/Parties.rdf
Labels: BE, consistency

#1042 BE-216 - Partnerships are not well specified and partnership with general partners is overly constrained
  BE/Partnerships/Partnerships.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
Labels: BE, bug, consistency

#1045 BE-217 - The definition of a signatory is disconnected from legally delegated authority and responsible party
  BE/LegalEntities/FormalBusinessOrganizations.rdf
  BE/LegalEntities/LegalPersons.rdf
  BE/OwnershipAndControl/Executives.rdf
Labels: BE, consistency

#1049 FND-258 - CurrencyCodes and CurrencyAmount ontologies have too many dependencies
  FND/Accounting/CurrencyAmount.rdf
  FND/Accounting/ISO4217-CurrencyCodes.rdf
Labels: FND, consistency, dependencies, hygiene

#1053 FND-301 - Eliminate references to min 1 cardinality
  FND/Arrangements/Communications.rdf
  FND/Law/LegalCapacity.rdf
  FND/OwnershipAndControl/Control.rdf
  FND/OwnershipAndControl/Ownership.rdf
Labels: FND, consistency, hygiene

#1051 LOAN-148 - Several LoansTemporal ontologies should be merged with other ontologies or eliminated altogether
  AboutFIBODev.rdf
  LOAN/LoanContracts/LoanApplications.rdf
  LOAN/LoanContracts/LoanCore.rdf
  LOAN/LoanContracts/LoanEvents.rdf
  LOAN/LoanContracts/MetadataLOANLoanContracts.rdf
  LOAN/LoanTypes/ConstructionLoans.rdf
  LOAN/LoanTypes/MortgageLoans.rdf
  LOAN/Loans/LoanBasicTerms.rdf
  LOAN/Loans/LoansRegulatory.rdf
  LOAN/LoansTemporal/ConstructionLoansTemporal.rdf
  LOAN/LoansTemporal/LoanPhases.rdf
  LOAN/LoansTemporal/LoansEvents.rdf
  LOAN/LoansTemporal/LoansStatus.rdf
  LOAN/LoansTemporal/LoansTemporal.rdf
  LOAN/LoansTemporal/MetadataLOANLoansTemporal.rdf
  LOAN/MetadataLOAN.rdf
  SEC/Debt/AssetBackedSecurities/MortgageBackedSecurities.rdf
  catalog-v001.xml
Labels: LOAN, consistency, duplicate

#1047 DER-72 - Incorporate the example interest rate swap contract corresponding to the standard reporting use case
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  DER/AllDER-ExampleIndividuals.rdf
  DER/RateDerivatives/IRSwapExampleIndividuals.rdf
Labels: DER, enhancement

#1057 FND-302 - Addresses is missing an import
  FND/Places/Addresses.rdf
Labels: FND, bug

#1061 FND-303 - Reasoning issues in the USPostalServicesAddressing ontology
  FND/Places/NorthAmerica/USPostalServiceAddresses.rdf
Labels: FND, consistency

#1055 FBC-255 - Revise the MIC codes per the latest release (June 2020)
  FBC/FunctionalEntities/BusinessCentersIndividuals.rdf
  FBC/FunctionalEntities/Markets.rdf
  FBC/FunctionalEntities/MarketsIndividuals.rdf
Labels: FBC, enhancement

#1059 BE-192 - Revise the definition of Affiliate to make more sense
  BE/OwnershipAndControl/CorporateControl.rdf
Labels: BE, consistency, definition

#1063 BE-219 - Definitions related to board membership need to be better integrated
  BE/OwnershipAndControl/Executives.rdf
Labels: BE, consistency
