Repository edmcouncil/fibo, pull requests merged in 2020-02, with the labels that each got.

#853 slackinvite@edmcouncil.org -- > fibo@edmcouncil.org
  README.md
Labels: README

#861 Issue #860 / IND=90
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  FND/Quantities/QuantitiesAndUnits.rdf
  IND/AllIND.rdf
  IND/InterestRates/CommonInterestRates.rdf
  IND/InterestRates/InterestRatePublishers.rdf
  IND/InterestRates/InterestRates.rdf
  IND/InterestRates/MetadataINDInterestRates.rdf
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/TemporalCore/InstrumentTemporalTerms.rdf
  catalog-v001.xml
Labels: IND

#864 Demonstrate how to represent individual equities in FIBO SEC
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  BE/AllBE-NorthAmerica.rdf
  BE/AllBE-NorthAmericanExamples.rdf
  BE/LegalEntities/MetadataBELegalEntities.rdf
  BE/LegalEntities/NorthAmericanEntities/USExampleEntities.rdf
  FBC/AllFBC-NorthAmericanExamples.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  FND/DatesAndTimes/FinancialDates.rdf
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  MD/EquityTemporal/EquityPricing.rdf
  SEC/AllSEC-ExampleIndividuals.rdf
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
  SEC/Equities/MetadataSECEquities.rdf
  SEC/Securities/Baskets.rdf
  SEC/Securities/SecuritiesIdentification.rdf
  catalog-v001.xml
Labels: SEC, use case

#878 DER-66 #comment - eliminated the circular reference between Options a…
  DER/DerivativesContracts/Options.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
Labels: DER

#879 Changes in the FIBO's Pull Request template
  .github/pull_request_template.md
Labels: FIBO Github space

#882 BP-865 #comment - eliminated redundant concepts including SecuritiesO…
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/DebtIssuance.rdf
  BP/SecuritiesIssuance/IssuanceDocuments.rdf
  BP/SecuritiesIssuance/IssuanceProcess.rdf
  BP/SecuritiesIssuance/IssuanceProcessTerms.rdf
  BP/SecuritiesIssuance/MetadataBPSecuritiesIssuance.rdf
  BP/SecuritiesIssuance/MuniIssuance.rdf
  CAE/CorporateEvents/CorporateActionsEvents.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/CDOs.rdf
  SEC/Debt/AssetBackedSecurities/MortgageBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/PoolBackedSecurities.rdf
  SEC/Equities/DepositaryReceipts.rdf
  catalog-v001.xml
Labels: BP, SEC

#881 FND-279 #comment - Loosened constraints on the isDomiciledIn property
  BE/LegalEntities/CorporateBodies.rdf
  FND/Organizations/FormalOrganizations.rdf
Labels: FND

#884 LOAN-146 - Preliminary work to merge provisional loan concepts
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/RateDerivatives/IROptions.rdf
  FBC/DebtAndEquities/CreditRatings.rdf
  FBC/DebtAndEquities/Debt.rdf
  FND/Accounting/MetadataFNDAccounting.rdf
  FND/Accounting/Valuation.rdf
  FND/Arrangements/Assessments.rdf
  FND/Arrangements/Communications.rdf
  FND/ProductsAndServices/PaymentsAndSchedules.rdf
  LOAN/AllLOAN.rdf
  LOAN/LoanContracts/LoanCore.rdf
  LOAN/LoanContracts/LoanHMDA.rdf
  LOAN/LoanExt/LoanGeneric.rdf
  LOAN/LoanExt/LoansGeneral.rdf
  LOAN/LoanExt/MetadataLOANLoanExt.rdf
  LOAN/LoanTypes/CommercialLoans.rdf
  LOAN/LoanTypes/CreditProducts.rdf
  LOAN/LoanTypes/GeneralLoans.rdf
  LOAN/LoanTypes/LoanProducts.rdf
  LOAN/LoanTypes/MortgageLoans.rdf
  LOAN/LoanTypes/PersonalLoans.rdf
  LOAN/LoanTypes/SecuredLoans.rdf
  LOAN/LoanTypes/StudentLoans.rdf
  LOAN/Loans/LoanBasicTerms.rdf
  LOAN/Loans/LoansCollateral.rdf
  LOAN/Loans/LoansParties.rdf
  LOAN/Loans/LoansRegulatory.rdf
  LOAN/Loans/MetadataLOANLoans.rdf
  LOAN/LoansTemporal/LoanApplicationsTemporal.rdf
  LOAN/LoansTemporal/LoanBorrowersTemporal.rdf
  LOAN/LoansTemporal/LoanCollateralTemporal.rdf
  LOAN/LoansTemporal/LoanPhases.rdf
  LOAN/LoansTemporal/LoansAppraisal.rdf
  LOAN/LoansTemporal/LoansEvents.rdf
  LOAN/LoansTemporal/LoansLTV.rdf
  LOAN/LoansTemporal/MetadataLOANLoansTemporal.rdf
  LOAN/MetadataLOAN.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSecurities.rdf
  catalog-v001.xml
Labels: LOAN, consistency, modularization

#886 Issue 824 - add maturity level indication
  etc/fibo-vue/src/components/ModuleTree.vue
  etc/fibo-vue/src/views/Ontology.vue
Labels: FIBO Viewer

#889 FBC-239 #comment - corrected / normalized labels for certain entities…
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  IND/InterestRates/CommonInterestRates.rdf
Labels: FBC, consistency

#892 IND-90 / GitHub issue #860 - revise strategy for and update FpML reference rates
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  BE/AllBE-ExampleIndividuals.rdf
  FBC/AllFBC-ExampleIndividuals.rdf
  FBC/DebtAndEquities/Debt.rdf
  FBC/FunctionalEntities/EuropeanEntities/EURegulatoryAgencies.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/CARegulatoryAgencies.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  FND/DatesAndTimes/FinancialDates.rdf
  IND/AllIND-ReferenceRates.rdf
  IND/InterestRates/CommonInterestRates.rdf
  IND/InterestRates/InterestRates.rdf
  IND/InterestRates/MarketDataProviders.rdf
  IND/InterestRates/MetadataINDInterestRates.rdf
  catalog-v001.xml
  etc/fibo-vue/src/components/ModuleTree.vue
  etc/fibo-vue/src/views/Ontology.vue
Labels: IND

#898 Commiting once again changes done in
  etc/fibo-vue/src/components/ModuleTree.vue
  etc/fibo-vue/src/views/Ontology.vue
Labels: FIBO Viewer

#896 FND-280 #comment - loosens constraints on business day related proper…
  FND/DatesAndTimes/BusinessDates.rdf
Labels: FND
