Repository edmcouncil/fibo, pull requests merged in 2020-03, with the labels that each got.

#900 Divide FIBO search results into pages
  etc/fibo-vue/.eslintrc.js
  etc/fibo-vue/package.json
  etc/fibo-vue/src/views/Ontology.vue
  etc/fibo-vue/vue.config.js
  etc/fibo-vue/yarn.lock
Labels: FIBO Viewer

#911 FND-283 #comment - eliminated hasDispositionDate, whose semantics wer…
  FND/Relations/Relations.rdf
Labels: FND

#910 FND-228 #comment - cleans up the top-level hierarchy of FIBO by makin…
  FND/DatesAndTimes/FinancialDates.rdf
Labels: FND, consistency

#906 FND-95 Rationalize Addresses
  AboutFIBODev.rdf
  BE/LegalEntities/FormalBusinessOrganizations.rdf
  DER/DerivativesContracts/SwapsIndividuals.rdf
  FBC/DebtAndEquities/Debt.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FBC/FunctionalEntities/BusinessCentersIndividuals.rdf
  FBC/FunctionalEntities/BusinessRegistries.rdf
  FBC/FunctionalEntities/EuropeanEntities/EURegulatoryAgencies.rdf
  FBC/FunctionalEntities/EuropeanEntities/EuropeanFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/InternationalRegistriesAndAuthorities.rdf
  FBC/FunctionalEntities/Markets.rdf
  FBC/FunctionalEntities/MarketsIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/CARegulatoryAgencies.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USMarketsAndExchangesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  FND/DatesAndTimes/BusinessDates.rdf
  FND/InformationExt/MetadataFNDInformationExt.rdf
  FND/InformationExt/PostalAddress.rdf
  FND/MetadataFND.rdf
  FND/Places/Addresses.rdf
  FND/Places/Countries.rdf
  FND/Places/VirtualPlaces.rdf
  IND/InterestRates/MarketDataProviders.rdf
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
  catalog-v001.xml
Labels: BE, DER, FBC, FND, IND, LOAN, consistency

#913 FBC-240 #comment - cleaned up the definitions for registry and regist…
  BE/LegalEntities/LEIEntities.rdf
  FBC/FunctionalEntities/RegistrationAuthorities.rdf
Labels: FBC, consistency

#920 IND-77 - Need to represent the values of an index independently from the index definition
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
Labels: IND, use case

#918 FND-287 #comment - revised the definition of OrganizationSubUnit so t…
  BE/LegalEntities/FormalBusinessOrganizations.rdf
Labels: FND

#924 LOAN-147 #comment - Merged LoanParties and LoanGuaranties into LoanCore and MortgageLoans
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  BP/SecuritiesIssuance/PrivateLabelMBSIssuance.rdf
  LOAN/LoanContracts/LoanCore.rdf
  LOAN/LoanContracts/LoanHMDA.rdf
  LOAN/LoanTypes/CommercialLoans.rdf
  LOAN/LoanTypes/LoanProducts.rdf
  LOAN/LoanTypes/MortgageLoans.rdf
  LOAN/LoanTypes/PersonalLoans.rdf
  LOAN/LoanTypes/SecuredLoans.rdf
  LOAN/Loans/LoanBasicTerms.rdf
  LOAN/Loans/LoansGuaranties.rdf
  LOAN/Loans/LoansParties.rdf
  LOAN/Loans/MetadataLOANLoans.rdf
  LOAN/LoansTemporal/LoanApplicationsTemporal.rdf
  LOAN/LoansTemporal/LoansAppraisal.rdf
  LOAN/LoansTemporal/LoansEvents.rdf
  LOAN/LoansTemporal/MetadataLOANLoansTemporal.rdf
  catalog-v001.xml
Labels: LOAN, consistency

#922 FND-290 - Need to extend addresses to include the specifics for US addresses per the USPS Pub 28 standard
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  BE/AllBE-NorthAmerica.rdf
  FND/AllFND-NorthAmerica.rdf
  FND/Places/Addresses.rdf
  FND/Places/MetadataFNDPlaces.rdf
  FND/Places/NorthAmerica/USPostalServiceAddresses.rdf
  FND/Places/NorthAmerica/USPostalServiceAddressesIndividuals.rdf
  FND/Utilities/AnnotationVocabulary.rdf
  catalog-v001.xml
Labels: FND

#929 FBC-241 #comment - Rationalize/Eliminate Registered and Registration addresses
  BE/LegalEntities/FormalBusinessOrganizations.rdf
  BE/LegalEntities/LEIEntities.rdf
  DER/DerivativesContracts/SwapsIndividuals.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FBC/FunctionalEntities/BusinessRegistries.rdf
  FBC/FunctionalEntities/EuropeanEntities/EURegulatoryAgencies.rdf
  FBC/FunctionalEntities/EuropeanEntities/EuropeanFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/InternationalRegistriesAndAuthorities.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/CARegulatoryAgencies.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USMarketsAndExchangesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  IND/InterestRates/MarketDataProviders.rdf
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
  LOAN/Loans/LoanBasicTerms.rdf
Labels: BE, FBC, consistency

#934 FND-291 #comment - corrects invalid cardinality restriction on identity document
  FND/AgentsAndPeople/People.rdf
Labels: FND, consistency

#935 FBC-243 Property 'operates in municipality' defined as a data property and used as object property
  FBC/FunctionalEntities/Markets.rdf
Labels: FBC, consistency

#936 SEC-120 #comment - 'has estate or death put feature' inconsistent property definitions
  SEC/Debt/DebtInstruments.rdf
Labels: SEC, consistency

#937 FND-292 #comment - Unexpected triple in 'qualified measure'
  FND/Utilities/Analytics.rdf
Labels: FND

#941 FBC-244 #comment - addressed orphaned properties
  FBC/FunctionalEntities/EuropeanEntities/EuropeanFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
Labels: FBC, consistency, hygiene

#945 FBC-246 - Misspelled annotation in RegistrationAuthorities
  FBC/FunctionalEntities/RegistrationAuthorities.rdf
Labels: FBC, bug, hygiene

#942 SEC-121 #comment - Inconsistent usage of 'registers' and 'issues'
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
Labels: SEC, consistency

#949 SEC-122 #comment - Property hasSharesOutstanding should be applied to the Entity
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: SEC, consistency

#950 SEC-116 - Properties lists and hasIssue seem redundant for class Listing
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Securities/SecuritiesListings.rdf
Labels: SEC, consistency

#951 SEC-123 #comment - hasIdentity is not the correct property to use to link a basketConstituent to its security
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
  SEC/Securities/Baskets.rdf
Labels: IND, SEC, consistency

#952 FBC-247 #comment - The definition of InstitutionType with respect to the NIC repository creates a disjunction of 19 elements which is not recommended
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
Labels: FBC, consistency

#888 Fixing broken links in 'How to contribute' document + dev_toolkit directory
  CONTRIBUTING.md
  etc/dev_toolkit/build-about.sh
  etc/dev_toolkit/build-cats.sh
  etc/dev_toolkit/createAbout.sh
  etc/dev_toolkit/createCatalog.sh
  etc/dev_toolkit/fixle.sh
Labels: CONTRIBUTING.md

#948 FND-294 #comment - An additional datatype property is needed for local designations for states and provinces
  FND/Places/Addresses.rdf
  FND/Places/NorthAmerica/USPostalServiceAddressesIndividuals.rdf
Labels: FND, enhancement

#954 FBC-245 - Add a new pricing ontology to FBC under financial instruments
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  FBC/AllFBC.rdf
  FBC/FinancialInstruments/InstrumentPricing.rdf
  FBC/FinancialInstruments/MetadataFBCFinancialInstruments.rdf
  LOAN/LoanTypes/MortgageLoans.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  MD/DerivativesTemporal/ETOptionsTemporal.rdf
  MD/DerivativesTemporal/FuturesTemporal.rdf
  MD/EquityTemporal/EquityPricing.rdf
  MD/EquityTemporal/MetadataMDEquityTemporal.rdf
  MD/MetadataMD.rdf
  MD/TemporalCore/InstrumentTemporalTerms.rdf
  MD/TemporalCore/MetadataMDTemporalCore.rdf
  MD/TemporalCore/TemporalConcepts.rdf
  SEC/Debt/AssetBackedSecurities/PoolBackedSecurities.rdf
  SEC/Equities/EquityInstruments.rdf
  catalog-v001.xml
Labels: FBC, MD

#962 FND_295 - The AboutFIBOProd and AboutFIBODev ontologies have bogus IRIs and need to be documented with metadata that can help github users
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
Labels: BE, BP, CIV, DER, FBC, FIBO Github space, FND, IND, LOAN, MD, SEC

#959 OKG/FIBO course page update and 2020 Q1 Release Notes added
  etc/fibo-vue/src/assets/img/course_palette.png
  etc/fibo-vue/src/assets/img/course_palette_legend.png
  etc/fibo-vue/src/assets/img/dean.jpg
  etc/fibo-vue/src/assets/img/garbacz.jpg
  etc/fibo-vue/src/views/Courses.vue
  etc/fibo-vue/src/views/FIBOReleaseNotes.vue
  etc/fibo-vue/vue.config.js
Labels: FIBO website
