Repository edmcouncil/fibo, pull requests merged in 2020-10, with the labels that each got.

#1188 SEC-139 - FIBO is lacking a specific property to represent share class
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: SEC

#1199 Hygiene test for class hierarchy cycles
  etc/testing/hygiene/testHygiene1190.sparql
Labels: hygiene

#1197 FND-319 - Missing the concept of a physical asset as a sibling of financial asset
  FND/Accounting/AccountingEquity.rdf
  SEC/Securities/Pools.rdf
Labels: FND, consistency

#1202 New hygiene test - property hierarchy cycles
  etc/testing/hygiene/testHygiene1190_properties.sparql
Labels: hygiene

#1201 DER-77 - Clean-up DER security-based derivatives ontologies to eliminate duplicate properties, further integrate them into FIBO
  AboutFIBODev.rdf
  DER/CommoditiesDerivatives/CommoditySwaps.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/MetadataDERDerivativesContracts.rdf
  DER/DerivativesContracts/ReturnSwaps.rdf
  DER/DerivativesContracts/Swaps.rdf
  DER/SecurityBasedDerivatives/EquitySwaps.rdf
  DER/SecurityBasedDerivatives/SecurityBasedDerivatives.rdf
  catalog-v001.xml
Labels: DER, consistency

#1204 DER-78 - Finalize clean-up of security-based derivatives and equity swaps
  DER/DerivativesContracts/Swaps.rdf
  DER/SecurityBasedDerivatives/EquitySwaps.rdf
  DER/SecurityBasedDerivatives/SecurityBasedDerivatives.rdf
Labels: DER, consistency
