Repository edmcouncil/fibo, pull requests merged in 2020-12, with the labels that each got.

#1235 SEC-73 - Build out the classes related to payment status of shares
  SEC/Equities/EquityCFIClassificationIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: SEC, consistency

#1233 SEC-142 - Need the concept of a trading day, as a subclass of date period
  FBC/FinancialInstruments/InstrumentPricing.rdf
  FND/DatesAndTimes/FinancialDates.rdf
Labels: FBC, FND, SEC

#1238 DER-87 - Eliminate notions related to transactions in the various lower level derivatives ontologies
  AboutFIBODev.rdf
  DER/CommoditiesDerivatives/CommoditiesContracts.rdf
  DER/CommoditiesDerivatives/CommodityForwards.rdf
  DER/CommoditiesDerivatives/CommodityOptions.rdf
  DER/CommoditiesDerivatives/MetadataDERCommoditiesDerivatives.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/DerivativesMasterAgreements.rdf
  DER/DerivativesContracts/Forwards.rdf
  DER/DerivativesContracts/Options.rdf
  DER/DerivativesContracts/Swaps.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  DER/FxDerivatives/FxContracts.rdf
  DER/FxDerivatives/FxForwards.rdf
  DER/FxDerivatives/FxOptions.rdf
  DER/FxDerivatives/FxSpots.rdf
  DER/FxDerivatives/FxSwaps.rdf
  DER/FxDerivatives/MetadataDERFxDerivatives.rdf
  DER/RateDerivatives/ForwardRateAgreements.rdf
  DER/RateDerivatives/IROptions.rdf
  DER/RateDerivatives/MetadataDERRateDerivatives.rdf
  DER/RateDerivatives/OTCIndexOptions.rdf
  DER/RateDerivatives/RateDerivatives.rdf
  DER/SecurityBasedDerivatives/BondOptions.rdf
  DER/SecurityBasedDerivatives/EquityForwards.rdf
  DER/SecurityBasedDerivatives/EquityOptions.rdf
  DER/SecurityBasedDerivatives/MetadataDERSecurityBasedDerivatives.rdf
  catalog-v001.xml
Labels: DER, consistency

#1241 SEC-144 - Move the concepts under the CIV module to SEC/Funds and create a smaller Funds ontology that can be added to production
  AboutFIBODev.rdf
  CIV/Funds/MetadataCIVFunds.rdf
  CIV/MetadataCIV.rdf
  CIV/README.md
  MD/CIVTemporal/FundsTemporal.rdf
  MD/MetadataMD.rdf
  MetadataFIBO.rdf
  README.md
  SEC/Debt/AssetBackedSecurities/AssetBackedSPVs.rdf
  SEC/Funds/CIV.rdf
  SEC/Funds/Funds.rdf
  SEC/MetadataSEC.rdf
  catalog-v001.xml
Labels: CIV, SEC, consistency

#1243 Domain on property isOpenEnded is incorrect and a metadata file is missing
  SEC/Funds/Funds.rdf
  SEC/Funds/MetadataSECFunds.rdf
Labels: SEC, bug

#1245 SEC-145 - Listed security is improperly inferred to be a listing
  SEC/Securities/SecuritiesIdentification.rdf
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
  SEC/Securities/SecuritiesListings.rdf
Labels: SEC, bug

#1247 BE-228 - Simplify the control hierarchy in FND/BE and rationalize control relationships
  BE/OwnershipAndControl/ControlParties.rdf
  BE/OwnershipAndControl/CorporateControl.rdf
  FND/OwnershipAndControl/Control.rdf
Labels: BE, FND, consistency

#1250 DER-86 - Create common fixed leg and floating leg concepts in the swaps ontology
  DER/DerivativesContracts/Swaps.rdf
  DER/RateDerivatives/IRSwaps.rdf
Labels: DER, consistency

#1256 SEC-1254 - Release the core Funds ontology
  AboutFIBOProd.rdf
  SEC/AllSEC-ExampleIndividuals.rdf
  SEC/AllSEC-ReferenceIndividuals.rdf
  SEC/AllSEC.rdf
  SEC/Funds/Funds.rdf
  SEC/Funds/MetadataSECFunds.rdf
Labels: CIV, SEC, enhancement

#1258 BE-137 - There are no known instances of bodies incorporated through agreement
  BE/LegalEntities/CorporateBodies.rdf
  BE/OwnershipAndControl/OwnershipParties.rdf
Labels: BE, bug, consistency

#1253 Release the provisional SecurityBasedDerivatives and EquitySwaps ontologies
  AboutFIBOProd.rdf
  DER/AllDER-ExampleIndividuals.rdf
  DER/AllDER-ReferenceIndividuals.rdf
  DER/AllDER.rdf
  DER/MetadataDER.rdf
  DER/SecurityBasedDerivatives/EquitySwaps.rdf
  DER/SecurityBasedDerivatives/SecurityBasedDerivatives.rdf
Labels: DER

#1255 Test for ambiguous definitions removed
  etc/testing/hygiene/testHygiene1127.sparql
Labels: hygiene

#1260 BE-229 - A number of key classes are missing in the trusts ontology
  BE/Trusts/Trusts.rdf
Labels: BE, consistency

#1265 BE-218 - Need the role of managing member associated with an LLC
  BE/OwnershipAndControl/ControlParties.rdf
  BE/PrivateLimitedCompanies/PrivateLimitedCompanies.rdf
Labels: BE, consistency, enhancement

#1263 BE-230 - The representation of beneficial owner is incomplete
  BE/OwnershipAndControl/CorporateOwnership.rdf
Labels: BE, consistency

#1267 SEC-147 - FIBO does not allow representation of adjusted and unadjusted prices for equities
  FBC/FinancialInstruments/InstrumentPricing.rdf
Labels: FBC, MD, consistency

#1269 DER-71 - Need the definition of a valoren as an instrument identifier
  FBC/FunctionalEntities/EuropeanEntities/EuropeanFinancialServicesEntitiesIndividuals.rdf
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
Labels: FBC, SEC

#1271 SEC-146 - Need to add a property for the lot size on listing
  DER/DerivativesContracts/Forwards.rdf
  FBC/FinancialInstruments/InstrumentPricing.rdf
  SEC/Securities/SecuritiesListings.rdf
Labels: FBC, SEC

#1272 FND-325 - Need explicit definitions of DateOfBirth and DateOfDeath
  FND/AgentsAndPeople/People.rdf
  FND/Agreements/Contracts.rdf
Labels: FND, consistency

#1274 SEC-107 - Distinctions between the various ways that a security may be registered / listed are missing or need revision
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityCFIClassificationIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
  SEC/Securities/SecuritiesIssuance.rdf
  SEC/Securities/SecuritiesListings.rdf
Labels: SEC, consistency

#1276 FBC-247 - Missing financial services and US government entities
  BE/FunctionalEntities/FunctionalEntities.rdf
  BE/OwnershipAndControl/ControlParties.rdf
  BE/OwnershipAndControl/Executives.rdf
  BE/PrivateLimitedCompanies/PrivateLimitedCompanies.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FBC/FunctionalEntities/FinancialServicesEntities.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
Labels: BE, FBC, consistency

#1279 FBC-268 - Revise LEI URIs in examples to reflect the latest updates from GLEIF
  BE/LegalEntities/NorthAmericanEntities/USExampleEntities.rdf
  DER/DerivativesContracts/SwapsIndividuals.rdf
  FBC/FunctionalEntities/EuropeanEntities/EURegulatoryAgencies.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/CARegulatoryAgencies.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  IND/InterestRates/MarketDataProviders.rdf
Labels: BE, DER, FBC, IND, consistency

#1281 FBC-266 - The name of the class 'financial service account' was changed to 'customer account' but the definition is still too narrow
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
Labels: FBC, definition

#1283 FBC-269 - Missing properties in the Guaranty ontology
  FBC/DebtAndEquities/Guaranty.rdf
Labels: FBC, consistency

#1285 BE-224 - Additional government entities and jurisdictions are needed for bank initiatives and to support retail FIBO users
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  BE/AllBE-ReferenceIndividuals.rdf
  BE/GovernmentEntities/AsianJurisdiction/EasternAsiaGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/MetadataBEGovernmentEntities.rdf
  catalog-v001.xml
Labels: BE

#1287 Correct reasoning issue in FBC US Examples related to hasDateEstablished
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FND/DatesAndTimes/FinancialDates.rdf
Labels: FBC, FND, bug
