Repository edmcouncil/fibo, pull requests merged in 2020-07, with the labels that each got.

#1069 Extending the set of hygiene test by implementing a test candidate T1
  etc/testing/hygiene/testHygiene1067.sparql
Labels: enhancement, hygiene

#1071 FND-242 Undesirable dependencies in FND ontologies
  DER/DerivativesContracts/Options.rdf
  FBC/FinancialInstruments/InstrumentPricing.rdf
  FND/Arrangements/Arrangements.rdf
  FND/Arrangements/ClassificationSchemes.rdf
  FND/DatesAndTimes/FinancialDates.rdf
  FND/OwnershipAndControl/Ownership.rdf
  FND/Relations/Relations.rdf
  FND/Utilities/Analytics.rdf
  IND/Indicators/Indicators.rdf
  IND/MarketIndices/BasketIndices.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  SEC/Securities/Baskets.rdf
Labels: FND, consistency, hygiene, reasoning

#1075 New hygiene test: direct circularity detection
  etc/testing/hygiene/testHygiene1068.sparql
Labels: enhancement, hygiene

#1089 BE-222 - Correct label on hasAuthorizedParty
  BE/OwnershipAndControl/Executives.rdf
Labels: BE, bug

#1091 SEC-127 - Eliminate duplicate isBasedOn property in the Bonds ontology
  SEC/Debt/Bonds.rdf
Labels: SEC, bug

#1093 DER-73 - Eliminate duplicate hasPaymentSchedule property in Swaps
  DER/DerivativesContracts/Swaps.rdf
  DER/RateDerivatives/IRSwaps.rdf
Labels: DER, bug, consistency

#1074 FND-304 - Eliminate remaining dependencies on the Values ontology and remove it
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/DebtIssuance.rdf
  BP/SecuritiesIssuance/MuniIssuance.rdf
  CIV/Funds/CIV.rdf
  DER/AssetDerivatives/AssetBaskets.rdf
  DER/AssetDerivatives/BondOptions.rdf
  DER/AssetDerivatives/EquitySwaps.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/DerivativesContracts/Options.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  DER/FxDerivatives/FxForwards.rdf
  FND/Utilities/MetadataFNDUtilities.rdf
  FND/Utilities/Values.rdf
  LOAN/LoanContracts/LoanCore.rdf
  LOAN/LoanTypes/GeneralLoans.rdf
  LOAN/Loans/LoanBasicTerms.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  SEC/Debt/AssetBackedSecurities/MortgageBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/SyntheticCDOs.rdf
  catalog-v001.xml
Labels: FND, consistency, dependencies

#1083 FND-305 - Eliminate reasoning complexity due to the union in hasTag in the relations ontology
  BE/LegalEntities/NorthAmericanEntities/USExampleEntities.rdf
  DER/DerivativesContracts/SwapsIndividuals.rdf
  DER/RateDerivatives/IRSwapExampleIndividuals.rdf
  FBC/FunctionalEntities/BusinessRegistries.rdf
  FBC/FunctionalEntities/EuropeanEntities/EURegulatoryAgencies.rdf
  FBC/FunctionalEntities/EuropeanEntities/EuropeanFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/CARegulatoryAgencies.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USMarketsAndExchangesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  FND/Arrangements/Ratings.rdf
  FND/Places/NorthAmerica/USPostalServiceAddresses.rdf
  FND/ProductsAndServices/ProductsAndServices.rdf
  FND/Relations/Relations.rdf
  IND/InterestRates/MarketDataProviders.rdf
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityCFIClassificationIndividuals.rdf
  SEC/Securities/SecuritiesClassification.rdf
Labels: FND, consistency, hygiene, reasoning

#1085 FND-307 - Eliminate unnecessary unions in restrictions in the Occurrences ontology
  FND/DatesAndTimes/FinancialDates.rdf
  FND/DatesAndTimes/Occurrences.rdf
Labels: FND, consistency, hygiene, reasoning

#1087 FND-309 - Inconsistent labeling / naming of party relationships in the new extended lattice
  BE/OwnershipAndControl/OwnershipParties.rdf
  FND/Parties/Parties.rdf
Labels: FND, consistency

#1102 New minimal compliance hygiene test - annotation convention for rdfs:…
  etc/testing/hygiene/testHygiene1079.sparql
Labels: enhancement, hygiene

#1101 FBC-256 - Correct label on terminated trade
  FBC/ProductsAndServices/FinancialProductsAndServices.rdf
Labels: FBC, bug

#1099 FND-308 - Eliminate unnecessary unions and max 1 restrictions in the addresses ontologies
  FND/Places/Addresses.rdf
  FND/Places/NorthAmerica/USPostalServiceAddresses.rdf
Labels: FND, consistency, hygiene, reasoning

#1105 Extending hygiene tests set - no property may have more than one inverse
  etc/testing/hygiene/testHygiene1078.sparql
Labels: enhancement, hygiene

#1113 Add banner keyword to new hygiene tests
  etc/testing/hygiene/testHygiene1067.sparql
  etc/testing/hygiene/testHygiene1068.sparql
  etc/testing/hygiene/testHygiene1078.sparql
  etc/testing/hygiene/testHygiene1079.sparql
Labels: enhancement, hygiene

#1107 IND-97 - Need to add definitions for marginally attached and discouraged workers
  IND/EconomicIndicators/EconomicIndicators.rdf
Labels: IND

#1111 FBC-257 - Redemption provisions should apply at the instrument level, and may not necessarily involve 'principal repayment'
  BP/SecuritiesIssuance/IssuanceDocuments.rdf
  FBC/DebtAndEquities/Debt.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSecurities.rdf
  SEC/Debt/Bonds.rdf
  SEC/Debt/DebtInstruments.rdf
  SEC/Securities/SecuritiesIssuance.rdf
Labels: FBC, SEC, bug

#1109 LOAN-149 - Additional Loan refactoring is needed, including merging SecuredLoans and UnsecuredLoans with LoanCore
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  BP/SecuritiesIssuance/PrivateLabelMBSIssuance.rdf
  LOAN/AllLOAN.rdf
  LOAN/LoanContracts/LoanApplications.rdf
  LOAN/LoanContracts/LoanCore.rdf
  LOAN/LoanContracts/LoanHMDA.rdf
  LOAN/LoanTypes/ConstructionLoans.rdf
  LOAN/LoanTypes/LoanProducts.rdf
  LOAN/LoanTypes/MetadataLOANLoanTypes.rdf
  LOAN/LoanTypes/MortgageLoans.rdf
  LOAN/LoanTypes/SecuredLoans.rdf
  LOAN/LoanTypes/UnsecuredLoans.rdf
  LOAN/Loans/LoanBasicTerms.rdf
  LOAN/Loans/LoansRegulatory.rdf
  catalog-v001.xml
Labels: LOAN, consistency

#1096 FND-306 - The domain of of several properties should not be 'Reference', which is too narrow
  BE/GovernmentEntities/GovernmentEntities.rdf
  BE/OwnershipAndControl/Executives.rdf
  BP/SecuritiesIssuance/EquitiesIPOIssuance.rdf
  FBC/FunctionalEntities/RegistrationAuthorities.rdf
  FBC/ProductsAndServices/FinancialProductsAndServices.rdf
  FND/Relations/Relations.rdf
  FND/Utilities/Analytics.rdf
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
Labels: FND, consistency, hygiene, reasoning, unique labels policy

#1118 BE-224 - Additional North American government entities and jurisdictions are needed for bank initiatives and to support retail FIBO users
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  BE/AllBE-NorthAmerica.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/CaribbeanGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/MXGovernmentEntitiesAndJurisdictions.rdf
  catalog-v001.xml
Labels: BE, enhancement

#1121 BE-205 - Create classes for devolved administrations in the United Kingdom
  BE/GovernmentEntities/EuropeanJurisdiction/UKGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/GovernmentEntities.rdf
Labels: BE, enhancement
