Repository edmcouncil/fibo, pull requests merged in 2020-01, with the labels that each got.

#820 Top button for the FIBO release notes webpage
  etc/fibo-vue/package-lock.json
  etc/fibo-vue/package.json
  etc/fibo-vue/src/views/FIBOReleaseNotes.vue
  etc/fibo-vue/yarn.lock
Labels: FIBO website

#818 Not a full fix yet for issue #816 because...
  README.md
Labels: README

#819 FND-274 #comment - GitHub issue #817, eliminated remaining Accounting…
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/IssuanceProcessTerms.rdf
  CAE/CorporateEvents/CorporateActionsEvents.rdf
  CIV/Funds/CIV.rdf
  DER/DerivativesContracts/Options.rdf
  DER/DerivativesContracts/Spots.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  DER/FxDerivatives/FxSpots.rdf
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
  FND/Accounting/AccountingEquity.rdf
  FND/AccountingExt/AccountsMain.rdf
  FND/AccountingExt/BalanceSheetBalances.rdf
  FND/AccountingExt/MetadataFNDAccountingExt.rdf
  FND/AccountingExt/Taxation.rdf
  FND/MetadataFND.rdf
  FND/TransactionsExt/MarketTransactions.rdf
  FND/TransactionsExt/SecuritiesTransactions.rdf
  FND/TransactionsExt/SupplyTransactions.rdf
  FND/TransactionsExt/TransactionAccounting.rdf
  IND/MarketIndices/BasketIndices.rdf
  LOAN/LoanTypes/LoanProducts.rdf
  LOAN/LoansTemporal/LoansTemporal.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  MD/DerivativesTemporal/ETOptionsTemporal.rdf
  MD/TemporalCore/InstrumentTemporalTerms.rdf
  MD/TemporalCore/TemporalConcepts.rdf
  SEC/Debt/AssetBackedSecurities/CDOs.rdf
  SEC/Debt/AssetBackedSecurities/SyntheticCDOs.rdf
  catalog-v001.xml
Labels: FBC, FND, consistency

#829 BE-206 #comment - issue #274
  BE/LegalEntities/LegalPersons.rdf
Labels: BE

#828 FND-275 #comment - GitHub issue #827
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  BP/SecuritiesIssuance/EquitiesIPOIssuance.rdf
  BP/SecuritiesIssuance/IssuanceDocuments.rdf
  BP/SecuritiesIssuance/IssuanceProcess.rdf
  BP/SecuritiesIssuance/MBSIssuance.rdf
  BP/SecuritiesIssuance/PrivateLabelMBSIssuance.rdf
  CIV/Funds/CIV.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/DerivativesContracts/ContractsForDifference.rdf
  DER/DerivativesContracts/DerivativesMasterAgreements.rdf
  DER/DerivativesContracts/Forwards.rdf
  DER/DerivativesContracts/Options.rdf
  DER/ExchangeTradedDerivatives/Futures.rdf
  FBC/DebtAndEquities/Guaranty.rdf
  FND/Agreements/Contracts.rdf
  FND/AgreementsExt/ContractElements.rdf
  FND/Arrangements/Documents.rdf
  FND/InformationExt/Documentation.rdf
  FND/InformationExt/MetadataFNDInformationExt.rdf
  LOAN/Loans/LoansGuaranties.rdf
  LOAN/Loans/LoansParties.rdf
  catalog-v001.xml
Labels: BP, FND

#830 FND-276 #comment - GitHub issue #97
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  FND/AllFND.rdf
  FND/Organizations/LegitimateOrganizations.rdf
  FND/Organizations/MetadataFNDOrganizations.rdf
  FND/Organizations/Organizations.rdf
  LOAN/AllLOAN.rdf
  catalog-v001.xml
  etc/testing/data/fnd/Organizations/TestLegitimateOrganizations.rdf
Labels: FND

#839 FND GitHub Issue 838 - eliminated the informative Risk ontology
  AboutFIBODev.rdf
  FND/MetadataFND.rdf
  FND/RiskExt/MetadataFNDRiskExt.rdf
  FND/RiskExt/Risk.rdf
  catalog-v001.xml
Labels: FND

#841 FND-840 #comment - Github issue #840
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  BP/SecuritiesIssuance/DebtIssuance.rdf
  BP/SecuritiesIssuance/EquitiesIPOIssuance.rdf
  BP/SecuritiesIssuance/IssuanceDocuments.rdf
  BP/SecuritiesIssuance/IssuanceProcess.rdf
  BP/SecuritiesIssuance/IssuanceProcessTerms.rdf
  BP/SecuritiesIssuance/MuniIssuance.rdf
  BP/SecuritiesIssuance/PrivateLabelMBSIssuance.rdf
  CAE/CorporateEvents/CorporateActionsEvents.rdf
  CIV/Funds/CIV.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  FND/AgreementsExt/ContractElements.rdf
  FND/Arrangements/Communications.rdf
  FND/Arrangements/Lifecycles.rdf
  FND/InformationExt/InfoCore.rdf
  FND/InformationExt/Messaging.rdf
  FND/InformationExt/MetadataFNDInformationExt.rdf
  FND/InformationExt/TemporalInfo.rdf
  LOAN/Loans/LoanBasicTerms.rdf
  LOAN/Loans/LoansParties.rdf
  LOAN/LoansTemporal/LoanApplicationsTemporal.rdf
  LOAN/LoansTemporal/LoanBorrowersTemporal.rdf
  LOAN/LoansTemporal/LoanPhases.rdf
  LOAN/LoansTemporal/LoansStatus.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  MD/TemporalCore/InstrumentTemporalTerms.rdf
  MD/TemporalCore/SecurityCreditStatuses.rdf
  MD/TemporalCore/SecurityTradingStatuses.rdf
  catalog-v001.xml
Labels: FND

#844 FND-843 #comment - Github issue #843
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/DebtIssuance.rdf
  BP/SecuritiesIssuance/IssuanceProcess.rdf
  CIV/Funds/CIV.rdf
  DER/AssetDerivatives/EquityForwards.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/DerivativesContracts/DerivativesMasterAgreements.rdf
  DER/DerivativesContracts/Options.rdf
  DER/ExchangeTradedDerivatives/DerivativesStandardizedTerms.rdf
  DER/RateDerivatives/IROptions.rdf
  FBC/FinancialInstruments/Settlement.rdf
  FND/ArrangementsExt/MetadataFNDArrangementsExt.rdf
  FND/ArrangementsExt/MethodsAndRules.rdf
  FND/ArrangementsExt/ToolsAndInstruments.rdf
  FND/GoalsAndObjectives/Objectives.rdf
  FND/MetadataFND.rdf
  LOAN/LoanTypes/SecuredLoans.rdf
  LOAN/Loans/LoanBasicTerms.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  MD/EquityTemporal/EquityPricing.rdf
  MD/TemporalCore/InstrumentTemporalTerms.rdf
  SEC/Debt/AssetBackedSecurities/CDOs.rdf
  catalog-v001.xml
Labels: FND

#826 Footer update, yarn.lock upgrade
  etc/fibo-vue/src/assets/img/connect-316638_640.jpg
  etc/fibo-vue/src/assets/img/target-3535310_640.jpg
  etc/fibo-vue/src/components/Footer.vue
  etc/fibo-vue/src/views/Home.vue
  etc/fibo-vue/yarn.lock
Labels: FIBO website

#847 FND-843 #comment - correct URI in DebtIssuance
  BP/SecuritiesIssuance/DebtIssuance.rdf
Labels: BP, FND

#849 FBC-238 #comment - adds several of the most commonly used day count c…
  FBC/DebtAndEquities/Debt.rdf
Labels: FBC

#851 MD-850 #comment - corrected URI in equity pricing
  MD/EquityTemporal/EquityPricing.rdf
Labels: MD, imports
