Repository edmcouncil/fibo, pull requests merged in 2020-11, with the labels that each got.

#1205 New hygiene test - direct circularity in owl imports
  etc/testing/hygiene/testHygiene1177.sparql
Labels: hygiene

#1211 DER-80 - Merge the contracts for difference ontology with derivatives basics
  AboutFIBODev.rdf
  DER/DerivativesContracts/ContractsForDifference.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/MetadataDERDerivativesContracts.rdf
  catalog-v001.xml
Labels: DER, consistency

#1209 FBC-254 - Need to be able to say what currency an instrument is issued in
  FBC/FinancialInstruments/FinancialInstruments.rdf
Labels: FBC, consistency

#1207 BE-224 - Additional government entities and jurisdictions are needed for bank initiatives and to support retail FIBO users
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  BE/AllBE-ExampleIndividuals.rdf
  BE/AllBE-ReferenceIndividuals.rdf
  BE/GovernmentEntities/LatinAmericanJurisdiction/CentralAmericanGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/LatinAmericanJurisdiction/SouthAmericanGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/MetadataBEGovernmentEntities.rdf
  catalog-v001.xml
Labels: BE, enhancement

#1213 FND-322 - Contract party is missing a restriction and the class hierarchy related to contract parties is overly complex
  BE/LegalEntities/LegalPersons.rdf
  BE/OwnershipAndControl/CorporateOwnership.rdf
  CIV/Funds/CIV.rdf
  DER/DerivativesContracts/RightsAndWarrants.rdf
  FBC/DebtAndEquities/Guaranty.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FND/Agreements/Contracts.rdf
  MD/CIVTemporal/FundsTemporal.rdf
  SEC/Debt/AssetBackedSecurities/CDOs.rdf
  SEC/Securities/SecurityAssets.rdf
Labels: BE, CIV, DER, FBC, FND, MD, SEC, consistency

#1215 DER-83 - Simplify the contract party tree in derivatives
  DER/CommoditiesDerivatives/CommodityOptions.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/DerivativesMasterAgreements.rdf
  DER/DerivativesContracts/Forwards.rdf
  DER/DerivativesContracts/Options.rdf
  DER/DerivativesContracts/Spots.rdf
  DER/DerivativesContracts/Swaps.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  DER/RateDerivatives/IROptions.rdf
  DER/SecurityBasedDerivatives/BondOptions.rdf
  DER/SecurityBasedDerivatives/EquityOptions.rdf
Labels: DER, consistency

#1219 New hygiene test - dots in local names of FIBO classes and properties
  etc/testing/hygiene/testHygiene1198_dev.sparql
  etc/testing/hygiene/testHygiene1198_prod.sparql
Labels: hygiene, iri-scheme

#1227 SEC-73 - Revise the way that voting rights are represented for equities
  SEC/Equities/EquityCFIClassificationIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: SEC, consistency

#1225 IND-22 - Need the definition of program as a superclass of statistical program
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  CIV/Funds/CIV.rdf
  FND/AllFND.rdf
  FND/GoalsAndObjectives/Goals.rdf
  FND/GoalsAndObjectives/MetadataFNDGoalsAndObjectives.rdf
  FND/GoalsAndObjectives/Objectives.rdf
  FND/Law/LegalCapacity.rdf
  FND/Organizations/Organizations.rdf
  FND/Utilities/Analytics.rdf
  catalog-v001.xml
  etc/testing/data/fnd/Accounting/TestAccountingEquity.rdf
  etc/testing/data/fnd/AgentsAndPeople/TestPeople.rdf
  etc/testing/data/fnd/Agreements/TestAgreements.rdf
  etc/testing/data/fnd/Agreements/TestContracts.rdf
  etc/testing/data/fnd/GoalsAndObjectives/TestGoals.rdf
  etc/testing/data/fnd/Law/TestJurisdiction.rdf
  etc/testing/data/fnd/Law/TestLegalCapacity.rdf
  etc/testing/data/fnd/Law/TestLegalCore.rdf
  etc/testing/data/fnd/Organizations/TestFormalOrganizations.rdf
  etc/testing/data/fnd/Organizations/TestOrganizations.rdf
  etc/testing/data/fnd/Parties/TestParties.rdf
  etc/testing/data/fnd/Places/TestCountries.rdf
Labels: FND, IND, consistency

#1231 DER-81 - Merge the Swaptions and OptionsOnFutures ontologies with Options; merge the Futures and Forwards ontologies
  AboutFIBODev.rdf
  DER/CommoditiesDerivatives/CommodityForwards.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/Forwards.rdf
  DER/DerivativesContracts/MetadataDERDerivativesContracts.rdf
  DER/DerivativesContracts/OptionContractsOnFutures.rdf
  DER/DerivativesContracts/Options.rdf
  DER/DerivativesContracts/Swaptions.rdf
  DER/ExchangeTradedDerivatives/DerivativesStandardizedTerms.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  DER/ExchangeTradedDerivatives/Futures.rdf
  DER/ExchangeTradedDerivatives/MetadataDERExchangeTradedDerivatives.rdf
  DER/FxDerivatives/FxForwards.rdf
  DER/FxDerivatives/FxOptions.rdf
  DER/FxDerivatives/FxSpots.rdf
  DER/SecurityBasedDerivatives/EquityForwards.rdf
  MD/DerivativesTemporal/ETOptionsTemporal.rdf
  MD/DerivativesTemporal/FuturesTemporal.rdf
  catalog-v001.xml
Labels: DER, consistency

#1228 BE-106 - Need the concept of a tax identifier to support AML and other use cases
  BE/LegalEntities/FormalBusinessOrganizations.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  FBC/FunctionalEntities/RegulatoryAgencies.rdf
  FND/Law/Jurisdiction.rdf
  FND/Parties/Parties.rdf
Labels: BE, FBC
