Repository edmcouncil/fibo, pull requests merged in 2021-09, with the labels that each got.

#1573 DER-105 - Definitions in the commodities ontology need additional work in preparation for release
  AboutFIBOProd.rdf
  DER/AllDER.rdf
  DER/DerivativesContracts/CommoditiesContracts.rdf
  IND/MarketIndices/BasketIndices.rdf
Labels: consistency, DER, definition

#1578 Removal of rdf:disjointWith
  IND/EconomicIndicators/EconomicIndicators.rdf
Labels: bug

#1575 IND-109 - Need to revise the definition of S&P 500
  FBC/ProductsAndServices/FinancialProductsAndServices.rdf
  FND/Arrangements/Arrangements.rdf
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
Labels: consistency, FND, IND, FBC

#1580 DER-107 - Need an additional note on bullion to explain the difference between coins that are numismatic (collectible) that have additional value and bullion
  DER/DerivativesContracts/CommoditiesContracts.rdf
Labels: DER

#1582 SEC-68 - The definition of bill of exchange needs clarification
  SEC/Debt/TradedShortTermDebt.rdf
Labels: consistency, SEC

#1585 SEC-167 - Additional restructuring of ABS, CDOs, CMOs and related ontologies in Debt is needed
  AboutFIBODev.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/CMOs.rdf
  SEC/Debt/AssetBackedSecurities/CollateralizedDebtObligations.rdf
  SEC/Debt/AssetBackedSecurities/MetadataSECDebtAssetBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/MortgageBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/PoolBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/SyntheticCDOs.rdf
  catalog-v001.xml
Labels: consistency, SEC, MD

#1588 DER-109 - Eliminate the redundant equity options ontology
  AboutFIBODev.rdf
  DER/SecurityBasedDerivatives/EquityOptions.rdf
  DER/SecurityBasedDerivatives/MetadataDERSecurityBasedDerivatives.rdf
  catalog-v001.xml
Labels: consistency, DER

#1590 DER-110 - Equity forwards need to have a broader underlier than what is available in a typical equity derivative
  DER/SecurityBasedDerivatives/EquityForwards.rdf
Labels: DER, definition
