Repository edmcouncil/fibo, pull requests merged in 2021-04, with the labels that each got.

#1476 SEC-155 - Address equivalence issue related to common shares
  SEC/Securities/SecuritiesClassification.rdf
Labels: SEC, bug

#1478 FBC-280 - MeanPriceDetermination defined as a named individual - not as a class
  FBC/FinancialInstruments/InstrumentPricing.rdf
Labels: FBC, bug

#1480 FND-341 - Complete the situational lattice for the 'long way around' the pattern
  FND/Parties/Parties.rdf
Labels: FND

#1482 FND-334 - Simplify the definition of transferable contract by making it a direct subclass of written contract
  FND/Agreements/Contracts.rdf
Labels: FND, consistency, definition

#1486 Duplicated hygiene test removal
  etc/testing/hygiene/testHygiene1198.sparql
  etc/testing/hygiene/testHygiene1198_dev.sparql
Labels: hygiene

#1484 FND-342 - Revise the ownership lattice relations to better align with the situational model
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
  FBC/ProductsAndServices/FinancialProductsAndServices.rdf
  FND/OwnershipAndControl/Ownership.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: BE, FBC, FND, SEC, consistency

#1488 Ontology Guide seasonal update
  ONTOLOGY_GUIDE.md
Labels: hygiene

#1493 FBC-280 - A recent change involving price determination methods inadvertently introduced punning
  FBC/FinancialInstruments/InstrumentPricing.rdf
Labels: FBC, bug, consistency

#1495 FND-343 - Need to sort out the schizophrenic relationship between independent party and person/organization
  BE/LegalEntities/LegalPersons.rdf
  BE/OwnershipAndControl/ControlParties.rdf
  BE/OwnershipAndControl/Executives.rdf
  BE/Partnerships/Partnerships.rdf
  BE/PrivateLimitedCompanies/PrivateLimitedCompanies.rdf
  BE/Trusts/Trusts.rdf
  FND/AgentsAndPeople/People.rdf
  FND/Law/LegalCapacity.rdf
  FND/Organizations/Organizations.rdf
  FND/OwnershipAndControl/Ownership.rdf
  FND/Parties/Parties.rdf
  SEC/Funds/CollectiveInvestmentVehicles.rdf
  SEC/Securities/SecuritiesListings.rdf
  SEC/Securities/SecuritiesRestrictions.rdf
  etc/testing/data/fnd/Accounting/TestAccountingEquity.rdf
  etc/testing/data/fnd/Accounting/TestCurrencyAmount.rdf
  etc/testing/data/fnd/AgentsAndPeople/TestAgents.rdf
  etc/testing/data/fnd/AgentsAndPeople/TestPeople.rdf
  etc/testing/data/fnd/Agreements/TestAgreements.rdf
  etc/testing/data/fnd/Agreements/TestContracts.rdf
  etc/testing/data/fnd/GoalsAndObjectives/TestObjectives.rdf
  etc/testing/data/fnd/Law/TestLegalCapacity.rdf
  etc/testing/data/fnd/Law/TestLegalCore.rdf
  etc/testing/data/fnd/Organizations/F0.sq
  etc/testing/data/fnd/Organizations/F2.sq
  etc/testing/data/fnd/Organizations/FO.sq
  etc/testing/data/fnd/Organizations/TestFormalOrganizations.rdf
  etc/testing/data/fnd/Organizations/TestOrganizations.rdf
  etc/testing/data/fnd/OwnershipAndControl/Bak/TestControl.rdf
  etc/testing/data/fnd/OwnershipAndControl/Bak/TestOwnership.rdf
  etc/testing/data/fnd/OwnershipAndControl/Bak/TestOwnershipAndControl.rdf
  etc/testing/data/fnd/OwnershipAndControl/TestControl.rdf
  etc/testing/data/fnd/OwnershipAndControl/TestOwnership.rdf
  etc/testing/data/fnd/OwnershipAndControl/TestOwnershipAndControl.rdf
  etc/testing/data/fnd/Parties/TestParties.rdf
  etc/testing/data/fnd/Parties/TestRoles.rdf
  etc/testing/data/fnd/Places/TestAddressRelations.rdf
  etc/testing/data/fnd/Places/TestAddresses.rdf
  etc/testing/data/fnd/Places/TestLocations.rdf
  etc/testing/data/fnd/Relations/TestRelations.rdf
  etc/testing/data/fnd/Relations/TestTemporalRelations.rdf
Labels: BE, FND, SEC, bug, consistency

#1497 IND-91 - Eliminate unnecessary properties that are currently on an index
  IND/EconomicIndicators/EconomicIndicators.rdf
  IND/Indicators/Indicators.rdf
  IND/MarketIndices/BasketIndices.rdf
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
Labels: IND, consistency

#1499 FND-344 - Better integrate control relations with the situation pattern
  BE/OwnershipAndControl/ControlParties.rdf
  BE/OwnershipAndControl/CorporateControl.rdf
  BE/OwnershipAndControl/CorporateOwnership.rdf
  BE/OwnershipAndControl/Executives.rdf
  FND/OwnershipAndControl/Control.rdf
Labels: BE, FND, consistency

#1506 FBC-279 - Cardholder should be a subclass of CustomerAccountHolder
  FBC/ProductsAndServices/CardAccounts.rdf
Labels: FBC, consistency

#1508 FBC-282 - Need a restriction on PrimaryFederalRegulator indicating that it hasIdentity a government body
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
Labels: FBC, bug, consistency

#1510 BE-241 - Need a restriction on entity ownership indicating the percentage
  BE/OwnershipAndControl/OwnershipParties.rdf
Labels: BE, consistency

#1512 Clearing down candidate hygiene tests description in Ontology Guide
  ONTOLOGY_GUIDE.md
Labels: hygiene
