Repository edmcouncil/fibo, pull requests merged in 2021-01, with the labels that each got.

#1291 SEC-136 - Unclear coverage of RetractablePreferredShare
  FBC/FinancialInstruments/FinancialInstruments.rdf
  LOAN/LoanContracts/LoanCore.rdf
  SEC/Debt/DebtInstruments.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: FBC, SEC, consistency

#1294 New hygiene test - Test for diconnected elements
  etc/testing/hygiene/testHygiene1290.sparql
Labels: hygiene

#1298 FND-329 - Several definitions in the Places/Facility ontology are flagged as circular and should be corrected
  FND/Places/Facilities.rdf
Labels: FND, consistency, definition

#1300 FND-330 - Several definitions in the LegalCore ontology are circular and should be corrected
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  BP/SecuritiesIssuance/EquitiesIPOIssuance.rdf
  BP/SecuritiesIssuance/IssuanceDocuments.rdf
  BP/SecuritiesIssuance/IssuanceProcess.rdf
  BP/SecuritiesIssuance/PrivateLabelMBSIssuance.rdf
  FND/Law/LegalCore.rdf
Labels: FND, consistency, definition

#1302 FND-327 - Calculation formula is redundant with formula
  FBC/FinancialInstruments/InstrumentPricing.rdf
  FND/Accounting/CurrencyAmount.rdf
  FND/Utilities/Analytics.rdf
Labels: FND, consistency

#1304 BE-231 - Wrong label on hasControllingOrganizationMember
  BE/OwnershipAndControl/ControlParties.rdf
Labels: BE, bug, consistency

#1306 BE-208 - The EU jurisdiction individuals include the UK and should not
  BE/GovernmentEntities/EuropeanJurisdiction/EUGovernmentEntitiesAndJurisdictions.rdf
Labels: BE

#1308 BE-232 - Smart quote in a note in private limited companies
  BE/PrivateLimitedCompanies/PrivateLimitedCompanies.rdf
Labels: BE, bug

#1295 Hygine test for isA candidates
  etc/testing/hygiene/testHygiene1289.sparql
Labels: hygiene

#1296 Test for "min 1" cardinality restrictions
  etc/testing/hygiene/testHygiene1293.sparql
Labels: hygiene

#1315 New hygiene test - Classes referring to multiple concepts added
  etc/testing/hygiene/testHygiene1292.sparql
Labels: hygiene

#1311 FND-323 - Need new properties for hasBuyer and hasSeller in the Products and Services ontology
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/DerivativesContracts/Forwards.rdf
  DER/DerivativesContracts/Options.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  FND/ProductsAndServices/ProductsAndServices.rdf
Labels: DER, FND, consistency, definition

#1313 DER-21 - Remove object property exchanges and migrate to FND
  DER/DerivativesContracts/Swaps.rdf
  DER/RateDerivatives/IRSwapExampleIndividuals.rdf
  DER/RateDerivatives/IRSwaps.rdf
  FND/Relations/Relations.rdf
Labels: DER, FND, consistency

#1317 FND-328 - Two of the public dictionary sites referenced in FIBO have been taken down and references no longer resolve
  BE/Corporations/Corporations.rdf
  BE/FunctionalEntities/Publishers.rdf
  BE/GovernmentEntities/GovernmentEntities.rdf
  BE/LegalEntities/LegalPersons.rdf
  BE/OwnershipAndControl/CorporateOwnership.rdf
  BE/OwnershipAndControl/Executives.rdf
  BE/Trusts/Trusts.rdf
  FBC/FunctionalEntities/FinancialServicesEntities.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  FBC/ProductsAndServices/FinancialProductsAndServices.rdf
  FND/Accounting/CurrencyAmount.rdf
  FND/Agreements/Contracts.rdf
  FND/Arrangements/Documents.rdf
  FND/Arrangements/Lifecycles.rdf
  FND/Arrangements/Reporting.rdf
  FND/OwnershipAndControl/Control.rdf
  IND/EconomicIndicators/EconomicIndicators.rdf
Labels: BE, FBC, FND, IND, bug, consistency
