Repository edmcouncil/fibo, pull requests merged in 2021-02, with the labels that each got.

#1323 SEC-73 - An exhaustive set of classes, corresponding to the various equity feature combinations expressed in the CFI standard are needed
  FBC/DebtAndEquities/Debt.rdf
  FND/Agreements/Contracts.rdf
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityCFIClassificationIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: SEC, consistency

#1325 FBC-270 - There are a number of circular definitions in FBC that should be resolved
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FBC/FunctionalEntities/BusinessRegistries.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntities.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
Labels: FBC, definition

#1326 Problematic sources in citations
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  BP/SecuritiesIssuance/DebtIssuance.rdf
  BP/SecuritiesIssuance/PrivateLabelMBSIssuance.rdf
  FND/Relations/Relations.rdf
Labels: BP, FND, citations, definition

#1328 FBC-271 - Eliminate properties that include "may", "is also" and similar phrases, which violate our hygiene test for masquerading properties
  BE/GovernmentEntities/GovernmentEntities.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/CAGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/MXGovernmentEntitiesAndJurisdictions.rdf
  DER/DerivativesContracts/Swaps.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/CDOs.rdf
  SEC/Debt/AssetBackedSecurities/MortgageBackedSecurities.rdf
  SEC/Debt/DebtInstruments.rdf
Labels: BE, FBC, SEC, consistency

#1330 SEC-148 - CIV moved under SEC
  AboutFIBODev.rdf
  MD/CIVTemporal/FundsTemporal.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSPVs.rdf
  SEC/Funds/CollectiveInvestmentVehicles.rdf
  SEC/Funds/Funds.rdf
  SEC/Funds/MetadataSECFunds.rdf
  catalog-v001.xml
Labels: CIV, consistency

#1332 BE-224 - Typo in ontology prefix: fibo-ge-ge-cbj
  BE/AllBE-NorthAmerica.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/CaribbeanGovernmentEntitiesAndJurisdictions.rdf
Labels: BE, bug, consistency

#1334 Correct hygiene issues related to diacritical markings in various government and jurisdiction ontologies
  BE/GovernmentEntities/EuropeanJurisdiction/EasternEuropeGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/EuropeanJurisdiction/NorthernEuropeGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/EuropeanJurisdiction/SouthernEuropeGovernmentEntitiesAndJurisdictions.rdf
Labels: BE, bug

#1336 DER-71 - Correct hygiene issue in an explanatory note on the Valoren instrument identifier
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
Labels: SEC, bug

#1338 DER-69 - The provisional Forwards ontology needs a clean-up pass
  AboutFIBODev.rdf
  DER/CommoditiesDerivatives/CommoditiesContracts.rdf
  DER/CommoditiesDerivatives/CommodityForwards.rdf
  DER/CommoditiesDerivatives/CommoditySwaps.rdf
  DER/CommoditiesDerivatives/MetadataDERCommoditiesDerivatives.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/Forwards.rdf
  DER/DerivativesContracts/Options.rdf
  DER/DerivativesContracts/Spots.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  DER/FxDerivatives/FxContracts.rdf
  DER/FxDerivatives/FxOptions.rdf
  DER/SecurityBasedDerivatives/EquityForwards.rdf
  FBC/FinancialInstruments/Settlement.rdf
  catalog-v001.xml
Labels: DER, consistency

#1341 SEC-118 - Eliminate remaining circular definitions and other hygiene violations in the SEC ontologies
  SEC/Debt/Bonds.rdf
  SEC/Debt/DebtInstruments.rdf
  SEC/Debt/TradedShortTermDebt.rdf
  SEC/Securities/ParametricSchedules.rdf
  SEC/Securities/SecuritiesListings.rdf
Labels: SEC, bug, consistency, definition

#1343 Three hygiene tests can be promoted to prod errors
  etc/testing/hygiene/testHygiene0114.sparql
  etc/testing/hygiene/testHygiene1289.sparql
  etc/testing/hygiene/testHygiene1290.sparql
Labels: hygiene

#1345 SEC-149 - Need a property in equities representing the authorized number of shares
  SEC/Equities/EquityInstruments.rdf
Labels: SEC

#1347 DER-92 - The options and exchange-traded options ontologies should be merged, and duplicate content eliminated
  AboutFIBODev.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/Forwards.rdf
  DER/DerivativesContracts/Options.rdf
  DER/ExchangeTradedDerivatives/ExchangeTradedOptions.rdf
  DER/ExchangeTradedDerivatives/MetadataDERExchangeTradedDerivatives.rdf
  DER/FxDerivatives/FxOptions.rdf
  DER/MetadataDER.rdf
  DER/RateDerivatives/IROptions.rdf
  DER/SecurityBasedDerivatives/EquityOptions.rdf
  FBC/FinancialInstruments/InstrumentPricing.rdf
  FND/Agreements/Contracts.rdf
  MD/DerivativesTemporal/ETOptionsTemporal.rdf
  catalog-v001.xml
Labels: DER, consistency

#1350 BE-234 - Eliminate remaining circular definitions in BE
  BE/FunctionalEntities/FunctionalEntities.rdf
  BE/LegalEntities/LEIEntities.rdf
Labels: BE, bug, definition

#1364 FND-332 - Circular definition for hasOperand
  FND/Utilities/Analytics.rdf
Labels: FND, consistency, definition

#1352 FBC-274 - Eliminate remaining circular definitions and naming related hygiene issues in FBC
  FBC/DebtAndEquities/Debt.rdf
  FBC/FunctionalEntities/EuropeanEntities/EUFinancialServicesEntities.rdf
Labels: FBC, bug

#1375 FND-333 - Eliminate remaining circular definitions and naming related hygiene issues in FND
  FND/Arrangements/ClassificationSchemes.rdf
  FND/Arrangements/Ratings.rdf
  FND/DatesAndTimes/BusinessDates.rdf
  FND/OwnershipAndControl/OwnershipAndControl.rdf
  FND/Parties/Roles.rdf
  FND/Places/Addresses.rdf
  FND/ProductsAndServices/PaymentsAndSchedules.rdf
  FND/Quantities/QuantitiesAndUnits.rdf
Labels: FND, bug, consistency
