Repository edmcouncil/fibo, pull requests merged in 2021-11, with the labels that each got.

#1621 FBC-291 - FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies/ fibo-fbc-fct-usjrga:StateGovernmentEntity has invalid restriction
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
Labels: bug, FBC

#1620 DER-115 - DER/DerivativesContracts/Options/ fibo-fbc-fi-fi:Option has an invalid restriction
  DER/DerivativesContracts/Options.rdf
Labels: bug, DER

#1622 Hygiene test for deprecated resources refactored
  etc/testing/hygiene/testHygiene1610.sparql
Labels: hygiene

#1623 IND-112 - FND/MarketIndices/BasketIndices/hasSharesOutstandingForIssuer is assigned to an invalid property chain
  IND/MarketIndices/BasketIndices.rdf
Labels: bug, IND

#1625 Hygiene test for object/datatype properties punning
  etc/testing/hygiene/testHygiene1624.sparql
  etc/testing/hygiene/testHygiene1624_chain.sparql
  etc/testing/hygiene/testHygiene1624_disjoint.sparql
  etc/testing/hygiene/testHygiene1624_equivalent.sparql
  etc/testing/hygiene/testHygiene1624_inverse.sparql
  etc/testing/hygiene/testHygiene1624_subProperty.sparql
Labels: consistency, hygiene

#1616 DER-114 - Clean up the Rights and Warrants ontology in preparation for release
  DER/DerivativesContracts/RightsAndWarrants.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  SEC/Debt/ExerciseConventions.rdf
  SEC/Securities/SecuritiesIssuance.rdf
Labels: consistency, FBC, SEC, DER, definition

#1629 DER-1628 - Illegal punning for hasConversionRatio
  DER/DerivativesContracts/RightsAndWarrants.rdf
Labels: bug, DER

#1627 Prefixes in hygiene tests were refactored
  etc/testing/hygiene/testHygiene0002.sparql
  etc/testing/hygiene/testHygiene0003.sparql
  etc/testing/hygiene/testHygiene0005.sparql
  etc/testing/hygiene/testHygiene0268.sparql
  etc/testing/hygiene/testHygiene1067.sparql
  etc/testing/hygiene/testHygiene1624.sparql
  etc/testing/hygiene/testHygiene1624_chain.sparql
  etc/testing/hygiene/testHygiene1624_disjoint.sparql
  etc/testing/hygiene/testHygiene1624_equivalent.sparql
  etc/testing/hygiene/testHygiene1624_inverse.sparql
  etc/testing/hygiene/testHygiene1624_subProperty.sparql
Labels: bug, hygiene

#1612 SEC-168 - There are various kinds of index-linked bonds, not all of which are variable principal
  AboutFIBODev.rdf
  DER/RateDerivatives/IRSwaps.rdf
  DER/RateDerivatives/InflationSwaps.rdf
  DER/RateDerivatives/MetadataDERRateDerivatives.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSecurities.rdf
  SEC/Debt/Bonds.rdf
  SEC/Debt/DebtInstruments.rdf
  SEC/Debt/TradedShortTermDebt.rdf
  catalog-v001.xml
Labels: consistency, SEC
