Repository edmcouncil/fibo, pull requests merged in 2021-12, with the labels that each got.

#1631 DER-116 - Further clean-up and release of the Rights and Warrants ontology
  AboutFIBOProd.rdf
  DER/AllDER.rdf
  DER/DerivativesContracts/RightsAndWarrants.rdf
  SEC/Equities/DepositaryReceipts.rdf
Labels: DER

#1633 FBC-283 - Incongruity in the identifier hierarchy
  BE/LegalEntities/LEIEntities.rdf
  DER/DerivativesContracts/SwapsIndividuals.rdf
  FBC/FunctionalEntities/BusinessRegistries.rdf
  FBC/FunctionalEntities/EuropeanEntities/EURegulatoryAgencies.rdf
  FBC/FunctionalEntities/EuropeanEntities/EuropeanFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/CARegulatoryAgencies.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  FBC/FunctionalEntities/RegistrationAuthorities.rdf
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
  FND/AgentsAndPeople/People.rdf
  FND/Arrangements/IdentifiersAndIndices.rdf
  FND/DatesAndTimes/FinancialDates.rdf
  FND/Places/Addresses.rdf
  FND/Utilities/Analytics.rdf
  IND/InterestRates/MarketDataProviders.rdf
  SEC/Securities/SecuritiesIdentification.rdf
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
Labels: bug, consistency, FND, IND, FBC, DER

#1635 FND-352 - Typos in Prod
  BE/Corporations/Corporations.rdf
  BE/GovernmentEntities/GovernmentEntities.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/CaribbeanGovernmentEntitiesAndJurisdictions.rdf
  BE/LegalEntities/LegalPersons.rdf
  BE/OwnershipAndControl/Executives.rdf
  BE/Partnerships/Partnerships.rdf
  BE/PrivateLimitedCompanies/PrivateLimitedCompanies.rdf
  DER/DerivativesContracts/CommoditiesContracts.rdf
  DER/RateDerivatives/IRSwaps.rdf
  DER/SecurityBasedDerivatives/EquitySwaps.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FBC/FunctionalEntities/InternationalRegistriesAndAuthorities.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USRegulatoryAgencies.rdf
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
  FBC/ProductsAndServices/FinancialProductsAndServices.rdf
  FND/Accounting/AccountingEquity.rdf
  FND/Agreements/Contracts.rdf
  FND/DatesAndTimes/Occurrences.rdf
  FND/Places/Addresses.rdf
  FND/ProductsAndServices/PaymentsAndSchedules.rdf
  IND/EconomicIndicators/EconomicIndicators.rdf
  SEC/Debt/TradedShortTermDebt.rdf
  SEC/Securities/SecuritiesRestrictions.rdf
  SEC/Securities/SecurityAssets.rdf
Labels: bug, FND, IND, BE, FBC, SEC, DER

#1642 FIBO-1636 - Update for catalog-v001.xml
  catalog-v001.xml
Labels: bug, BP

#1641 DER-118 - The definition of interest rate option refers to a flat rate and should refer to a benchmark
  DER/DerivativesContracts/Options.rdf
Labels: bug, DER

#1644 LOAN-152 - Further refine the definitions in LoanCore
  FND/Arrangements/Assessments.rdf
  LOAN/LoanContracts/LoanCore.rdf
  LOAN/LoanTypes/MortgageLoans.rdf
Labels: consistency, FND, LOAN

#1646 FND-354 - Clean up some of the unused and informative transaction ontologies
  AboutFIBODev.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  FND/TransactionsExt/EconomicResources.rdf
  FND/TransactionsExt/MarketTransactions.rdf
  FND/TransactionsExt/MetadataFNDTransactionsExt.rdf
  FND/TransactionsExt/QuantifiedResources.rdf
  FND/TransactionsExt/REAClaimsEvents.rdf
  FND/TransactionsExt/REATransactions.rdf
  FND/TransactionsExt/SecuritiesTransactions.rdf
  FND/TransactionsExt/SupplyTransactions.rdf
  FND/TransactionsExt/TransactionAccounting.rdf
  FND/TransactionsExt/TransactionEvents.rdf
  FND/TransactionsExt/TransactionsExtended.rdf
  catalog-v001.xml
Labels: consistency, FND

#1649 FND-355 - The concept of a master agreement should be defined in the contracts ontology
  AboutFIBODev.rdf
  DER/DerivativesContracts/DerivativesMasterAgreements.rdf
  FND/Agreements/Contracts.rdf
  FND/TransactionsExt/MetadataFNDTransactionsExt.rdf
  FND/TransactionsExt/REATransactions.rdf
  FND/TransactionsExt/TransactionsExtended.rdf
  catalog-v001.xml
Labels: consistency, FND, DER

#1652 imports subfolder removed from etc folder
  etc/imports/SpecificationMetadata.rdf
  etc/imports/skos.rdf
Labels: dependencies

#1639 SEC-164 - Further work is needed to clean up the pool-backed securities ontology
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/CollateralizedDebtObligations.rdf
  SEC/Debt/AssetBackedSecurities/MortgageBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/PoolBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/SyntheticCDOs.rdf
Labels: consistency, SEC

#1654 FND-356 - Bug in the Assessments ontology in the definition of hasAppraiser
  FND/Arrangements/Assessments.rdf
Labels: bug, FND

#1657 FBC-292 - Generate the latest ISO MIC codes for Q4 2021
  FBC/FunctionalEntities/BusinessCentersIndividuals.rdf
  FBC/FunctionalEntities/MarketsIndividuals.rdf
Labels: FBC, MIC codes

#1658 IND-114 - Generate the latest FpML interest rates as reference data in the Common Interest Rates ontology
  IND/InterestRates/CommonInterestRates.rdf
Labels: IND

#1651 IND-113 - Refactor the Corporate Actions ontology to create a standalone actions ontology that codes can be mapped to
  AboutFIBODev.rdf
  CAE/CorporateEvents/CorporateActions.rdf
  CAE/CorporateEvents/MetadataCAECorporateEvents.rdf
  CAE/CorporateEvents/SecurityRelatedCorporateActions.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  catalog-v001.xml
Labels: consistency, CAE

#1660 FND-353 - Concepts in Accounting Equity need to be reconciled with the Ownership pattern
  FND/Accounting/AccountingEquity.rdf
  SEC/Securities/Pools.rdf
Labels: consistency, FND, SEC

#1662 FND-357 - Properties in the OwnershipAndControl ontology are not linked to the situational pattern
  FND/OwnershipAndControl/OwnershipAndControl.rdf
Labels: consistency, FND

#1664 FND-350 - The definition of 'legal document' needs cleaning up and additional explanation
  FND/Arrangements/Documents.rdf
Labels: consistency, FND, definition

#1666 FND-313 - The definitions related to rights under legal construct are unclear and need refactoring
  FND/Law/LegalCapacity.rdf
  FND/ProductsAndServices/ProductsAndServices.rdf
Labels: consistency, FND, definition
