Repository edmcouncil/fibo, pull requests merged in 2021-07, with the labels that each got.

#1552 DER-102 - The concept of a spot contract should be in financial instruments rather than derivatives
  AboutFIBODev.rdf
  DER/CommoditiesDerivatives/CommoditiesContracts.rdf
  DER/CommoditiesDerivatives/CommoditySpots.rdf
  DER/CommoditiesDerivatives/MetadataDERCommoditiesDerivatives.rdf
  DER/DerivativesContracts/CurrencyContracts.rdf
  DER/DerivativesContracts/MetadataDERDerivativesContracts.rdf
  DER/DerivativesContracts/Spots.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  catalog-v001.xml
Labels: DER, FBC, consistency

#1550 Missing links in CONTRIBUTING.md added
  CONTRIBUTING.md
Labels: CONTRIBUTING.md, documentation

#1554 FND-348 - fibo-fnd-agr-ctr:hasContractDuration has 2 skos:definition triplets
  FND/Agreements/Contracts.rdf
Labels: FND, bug

#1556 SEC-154 - Need to review the notion of time to maturity
  FBC/FinancialInstruments/FinancialInstruments.rdf
Labels: FBC, SEC, consistency

#1558 DER-70 - Need the definition of 'off-facility' as a kind of exchange for equity swaps
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/ExoticOptions.rdf
  DER/DerivativesContracts/FuturesAndForwards.rdf
  DER/DerivativesContracts/Swaps.rdf
  DER/DerivativesContracts/SwapsIndividuals.rdf
  FBC/FunctionalEntities/Markets.rdf
  MD/DerivativesTemporal/ETOptionsTemporal.rdf
Labels: DER, FBC, consistency

#1560 DER-103 - Clean up and release the currency contracts ontology
  AboutFIBOProd.rdf
  DER/AllDER.rdf
  DER/DerivativesContracts/CurrencyContracts.rdf
  DER/DerivativesContracts/FuturesAndForwards.rdf
Labels: DER
