Repository edmcouncil/fibo, pull requests merged in 2021-03, with the labels that each got.

#1377 IND-103 - Need a synonym of 'basket of goods' on fixed basket and address hygiene issue for the name of GoodsOrServicesPopulation
  IND/EconomicIndicators/EconomicIndicators.rdf
Labels: IND, bug, consistency

#1395 SEC-140 - CallPrice and PutPrice in DebtInstruments need review
  SEC/Debt/Bonds.rdf
  SEC/Debt/DebtInstruments.rdf
Labels: SEC, consistency

#1415 BE-235 - Eliminate unnecessary references to external sources, including one with an incorrect datatype in Business Entities (BE)
  BE/LegalEntities/CorporateBodies.rdf
  BE/LegalEntities/FormalBusinessOrganizations.rdf
  BE/SoleProprietorships/SoleProprietorships.rdf
Labels: BE, citations, consistency, definition

#1417 IND-105 - Explanatory note in CA Economic Indicators has wrong datatype
  IND/EconomicIndicators/NorthAmericanIndicators/CAEconomicIndicators.rdf
  IND/ForeignExchange/ForeignExchange.rdf
Labels: IND, citations, consistency, definition

#1419 SEC-155 - Equity issuer should be renamed to share issuer, just to be clear
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: SEC, consistency

#1421 DER-93 - Move a number of more general properties from Forwards to either Derivatives Basics or to Securities
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/Forwards.rdf
  DER/DerivativesContracts/Options.rdf
Labels: DER, consistency

#1423 LOAN-160 - There is significant overlap between the LoansBasicTerms ontology and the provisional CreditFacilities ontology in FBC
  AboutFIBODev.rdf
  FBC/DebtAndEquities/CreditFacilities.rdf
  LOAN/LoanContracts/LoanCore.rdf
  LOAN/LoanContracts/LoanEvents.rdf
  LOAN/LoanTypes/CommercialLoans.rdf
  LOAN/LoanTypes/ConstructionLoans.rdf
  LOAN/LoanTypes/CreditProducts.rdf
  LOAN/LoanTypes/GeneralLoans.rdf
  LOAN/LoanTypes/LoanProducts.rdf
  LOAN/LoanTypes/PersonalLoans.rdf
  LOAN/LoanTypes/StudentLoans.rdf
  LOAN/Loans/LoanBasicTerms.rdf
  LOAN/Loans/LoansRegulatory.rdf
  LOAN/Loans/MetadataLOANLoans.rdf
  SEC/Debt/AssetBackedSecurities/LoanParticipationNotes.rdf
  catalog-v001.xml
Labels: FBC, LOAN, consistency

#1329 FND-326 - Need to add the concept of a unit price to Currency Amount
  FBC/FinancialInstruments/InstrumentPricing.rdf
  FND/Accounting/CurrencyAmount.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: FND, SEC, consistency

#1427 SEC-152 - Orphaned SEC Funds Module
  SEC/MetadataSEC.rdf
Labels: SEC, bug

#1433 DER-96 - Rename the Forwards ontology to Futures and Forwards, and release it
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  DER/AllDER.rdf
  DER/CommoditiesDerivatives/CommoditiesContracts.rdf
  DER/DerivativesContracts/FuturesAndForwards.rdf
  DER/DerivativesContracts/MetadataDERDerivativesContracts.rdf
  DER/FxDerivatives/FxContracts.rdf
  DER/FxDerivatives/FxOptions.rdf
  DER/SecurityBasedDerivatives/EquityForwards.rdf
  catalog-v001.xml
Labels: DER

#1426 FBC-277 - The concepts in the provisional credit facilities ontology should be integrated with the Debt ontology
  AboutFIBODev.rdf
  FBC/DebtAndEquities/CreditFacilities.rdf
  FBC/DebtAndEquities/Debt.rdf
  FBC/DebtAndEquities/Guaranty.rdf
  FBC/DebtAndEquities/MetadataFBCDebtAndEquities.rdf
  FBC/ProductsAndServices/CardAccounts.rdf
  FND/Agreements/Contracts.rdf
  LOAN/LoanTypes/ConstructionLoans.rdf
  LOAN/LoanTypes/CreditProducts.rdf
  LOAN/LoanTypes/LoanProducts.rdf
  SEC/Debt/AssetBackedSecurities/LoanParticipationNotes.rdf
  catalog-v001.xml
Labels: FBC, FND, LOAN, consistency

#1431 IND-106 - Update the FpML reference interest rates per the latest published version
  IND/InterestRates/CommonInterestRates.rdf
Labels: FIBO instance data, IND

#1435 DER-94 - Add 'has round lot size' as a subproperty of hasLotSize, and 'has unit of trading' as a synonym
  FBC/FinancialInstruments/InstrumentPricing.rdf
Labels: DER, FBC

#1437 FBC-278 - Update the MIC codes per the latest version published by ISO (ISO 10383)
  FBC/FunctionalEntities/BusinessCentersIndividuals.rdf
  FBC/FunctionalEntities/MarketsIndividuals.rdf
Labels: FBC

#1439 FBC-273 - Eliminate unnecessary text from the definition of financial instrument
  FBC/FinancialInstruments/FinancialInstruments.rdf
Labels: FBC, definition

#1442 FBC-205 - Collateral should be further refined
  FBC/DebtAndEquities/Debt.rdf
  FBC/DebtAndEquities/Guaranty.rdf
  LOAN/LoanTypes/CreditProducts.rdf
  LOAN/LoanTypes/MortgageLoans.rdf
Labels: FBC, LOAN

#1445 FND-337 - Need to be able to identify a person's place of residence
  FND/AgentsAndPeople/People.rdf
Labels: FND

#1443 FBC-272 - Need a synonym of structured product on packaged financial product
  FBC/FinancialInstruments/FinancialInstruments.rdf
Labels: FBC

#1429 FND-335 - Integrate provisional communications content with the Reporting ontology
  AboutFIBODev.rdf
  FBC/DebtAndEquities/CreditRatings.rdf
  FND/Arrangements/Communications.rdf
  FND/Arrangements/MetadataFNDArrangements.rdf
  FND/Arrangements/Reporting.rdf
  LOAN/LoanContracts/LoanApplications.rdf
  catalog-v001.xml
Labels: FBC, FND, LOAN, consistency

#1447 SEC-153 - Contract terms for zero coupon bonds are conflated with original issue discount bonds
  SEC/Debt/Bonds.rdf
Labels: SEC, consistency

#1449 FND-336 - hasRelatedPartyInRole should be symmetric
  FND/Parties/Parties.rdf
Labels: FND

#1450 minor changes to the documentation
  CONTRIBUTING.md
  README.md
Labels: CONTRIBUTING.md, README, documentation

#1454 IND-104 - A fixed basket should not be fixed for a period of time
  IND/EconomicIndicators/EconomicIndicators.rdf
Labels: IND, bug

#1456 DER-97 - Further clean-up of the options ontology is needed
  AboutFIBODev.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/Options.rdf
  DER/DerivativesContracts/Spots.rdf
  DER/DerivativesContracts/Swaps.rdf
  DER/FxDerivatives/FxContracts.rdf
  DER/FxDerivatives/FxOptions.rdf
  DER/FxDerivatives/MetadataDERFxDerivatives.rdf
  catalog-v001.xml
Labels: DER, consistency

#1458 FND-339 - Merge concepts from the informative contracts ontology into the main contracts ontology
  AboutFIBODev.rdf
  DER/DerivativesContracts/DerivativesMasterAgreements.rdf
  FND/Agreements/Contracts.rdf
  FND/AgreementsExt/ContractElements.rdf
  FND/AgreementsExt/MetadataFNDAgreementsExt.rdf
  FND/MetadataFND.rdf
  LOAN/Loans/LoansRegulatory.rdf
  catalog-v001.xml
Labels: FND

#1460 IND-92 - Merge the very small EconomicIndicatorsPublishers ontology with Economic Indicators
  AboutFIBODev.rdf
  AboutFIBOProd.rdf
  IND/AllIND.rdf
  IND/EconomicIndicators/EconomicIndicatorPublishers.rdf
  IND/EconomicIndicators/EconomicIndicators.rdf
  IND/EconomicIndicators/MetadataINDEconomicIndicators.rdf
  IND/EconomicIndicators/NorthAmericanIndicators/CAEconomicIndicators.rdf
  IND/EconomicIndicators/NorthAmericanIndicators/USEconomicIndicators.rdf
  catalog-v001.xml
Labels: IND, consistency

#1463 FND-338 - The domain of hasMailingAddress should be IndependentParty rather than Person
  FND/AgentsAndPeople/People.rdf
  FND/Parties/Parties.rdf
Labels: FND, consistency

#1464 IND-33 - Rename FxSpotVolatility to CurrencySpotVolatility and improve its definition
  DER/DerivativesContracts/Options.rdf
  IND/ForeignExchange/ForeignExchange.rdf
  IND/Indicators/Indicators.rdf
Labels: IND, consistency

#1466 IND-102 - Missing expression for calculating market cap
  IND/MarketIndices/BasketIndices.rdf
Labels: IND, consistency

#1468 BE-236 - Elements and jurisdictions should point to the current UN name for countries
  BE/GovernmentEntities/NorthAmericanJurisdiction/USGovernmentEntitiesAndJurisdictions.rdf
  BE/LegalEntities/NorthAmericanEntities/USExampleEntities.rdf
  DER/DerivativesContracts/SwapsIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USMarketsAndExchangesIndividuals.rdf
  IND/InterestRates/MarketDataProviders.rdf
Labels: BE, DER, FBC, IND, SEC, consistency

#1470 BE-210 - SeeAlso link on BenefitCorporation does not resolve
  BE/LegalEntities/CorporateBodies.rdf
Labels: BE, bug, citations

#1472 BE-233 - hasNominalCapital should be a subproperty of hasMonetaryAmount in Corporations
  BE/Corporations/Corporations.rdf
  BE/LegalEntities/NorthAmericanEntities/USExampleEntities.rdf
  BE/OwnershipAndControl/Executives.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USExampleIndividuals.rdf
  FBC/FunctionalEntities/NorthAmericanEntities/USFinancialServicesEntitiesIndividuals.rdf
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
  FBC/ProductsAndServices/FinancialProductsAndServices.rdf
  SEC/Equities/EquityInstruments.rdf
Labels: BE, FBC, consistency

#1474 SEC-90 - Certain rare debt instruments have no maturity date (e.g., consol) and so the restriction on time to maturity is too narrow
  FBC/FinancialInstruments/FinancialInstruments.rdf
  SEC/Debt/DebtInstruments.rdf
Labels: FBC, SEC, bug, consistency
