Repository edmcouncil/fibo, pull requests merged in 2022-02, with the labels that each got.

#1717 FND-362 - Remove dependency of CurrencyCodes on PAS for PreciousMetal
  DER/DerivativesContracts/CommoditiesContracts.rdf
  FND/Accounting/CurrencyAmount.rdf
  FND/Accounting/ISO4217-CurrencyCodes.rdf
  FND/ProductsAndServices/ProductsAndServices.rdf
Labels: consistency, FND, DER

#1720 Hygiene test filter out non-EDMC resources in the same way
  etc/testing/hygiene/testHygiene0001_objects.sparql
  etc/testing/hygiene/testHygiene0001_properties.sparql
  etc/testing/hygiene/testHygiene0001_subjects.sparql
  etc/testing/hygiene/testHygiene0002.sparql
  etc/testing/hygiene/testHygiene0003.sparql
  etc/testing/hygiene/testHygiene0004.sparql
  etc/testing/hygiene/testHygiene0005.sparql
  etc/testing/hygiene/testHygiene0114.sparql
  etc/testing/hygiene/testHygiene0268.sparql
  etc/testing/hygiene/testHygiene1068.sparql
  etc/testing/hygiene/testHygiene1078.sparql
  etc/testing/hygiene/testHygiene1079.sparql
  etc/testing/hygiene/testHygiene1103.sparql
  etc/testing/hygiene/testHygiene1177.sparql
  etc/testing/hygiene/testHygiene1190.sparql
  etc/testing/hygiene/testHygiene1190_properties.sparql
  etc/testing/hygiene/testHygiene1198.sparql
  etc/testing/hygiene/testHygiene1290.sparql
  etc/testing/hygiene/testHygiene1293.sparql
  etc/testing/hygiene/testHygiene1610.sparql
Labels: enhancement, hygiene

#1722 Parameterized tests added
  etc/testing/hygiene_parameterized/testHygiene0001_objects.sparql
  etc/testing/hygiene_parameterized/testHygiene0001_properties.sparql
  etc/testing/hygiene_parameterized/testHygiene0001_subjects.sparql
  etc/testing/hygiene_parameterized/testHygiene0002.sparql
  etc/testing/hygiene_parameterized/testHygiene0003.sparql
  etc/testing/hygiene_parameterized/testHygiene0004.sparql
  etc/testing/hygiene_parameterized/testHygiene0005.sparql
  etc/testing/hygiene_parameterized/testHygiene0114.sparql
  etc/testing/hygiene_parameterized/testHygiene0268.sparql
  etc/testing/hygiene_parameterized/testHygiene1067.sparql
  etc/testing/hygiene_parameterized/testHygiene1068.sparql
  etc/testing/hygiene_parameterized/testHygiene1078.sparql
  etc/testing/hygiene_parameterized/testHygiene1079.sparql
  etc/testing/hygiene_parameterized/testHygiene1103.sparql
  etc/testing/hygiene_parameterized/testHygiene1177.sparql
  etc/testing/hygiene_parameterized/testHygiene1190.sparql
  etc/testing/hygiene_parameterized/testHygiene1190_properties.sparql
  etc/testing/hygiene_parameterized/testHygiene1198.sparql
  etc/testing/hygiene_parameterized/testHygiene1289.sparql
  etc/testing/hygiene_parameterized/testHygiene1290.sparql
  etc/testing/hygiene_parameterized/testHygiene1292.sparql
  etc/testing/hygiene_parameterized/testHygiene1293.sparql
  etc/testing/hygiene_parameterized/testHygiene1610.sparql
  etc/testing/hygiene_parameterized/testHygiene1624.sparql
  etc/testing/hygiene_parameterized/testHygiene1624_chain.sparql
  etc/testing/hygiene_parameterized/testHygiene1624_disjoint.sparql
  etc/testing/hygiene_parameterized/testHygiene1624_equivalent.sparql
  etc/testing/hygiene_parameterized/testHygiene1624_inverse.sparql
  etc/testing/hygiene_parameterized/testHygiene1624_subProperty.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_classes.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_datatypeproperties.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_deprecated_resources.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_individuals.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_objectproperties.sparql
Labels: enhancement, hygiene

#1726 Missing prefix declaration added to hygiene test for deprecated resources
  etc/testing/hygiene/testHygiene1675_deprecated_resources.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_deprecated_resources.sparql
Labels: bug, hygiene

#1724 SEC-70 - The definition of TreasuryBill in Bonds is incomplete
  SEC/Debt/Bonds.rdf
Labels: consistency, SEC, definition

#1729 BE-242 - Eliminate unused imports from EU government entities
  BE/GovernmentEntities/EuropeanJurisdiction/EUGovernmentEntitiesAndJurisdictions.rdf
Labels: consistency, BE

#1731 IND-115 - Move corporate actions individuals from the current general securities-specific corporate actions ontology to a separate code set specific ontology
  AboutFIBODev.rdf
  CAE/CorporateEvents/ISO15022-CorporateActionIndividuals.rdf
  CAE/CorporateEvents/MetadataCAECorporateEvents.rdf
  CAE/CorporateEvents/SecurityRelatedCorporateActions.rdf
  catalog-v001.xml
Labels: consistency, CAE
