Repository edmcouncil/fibo, pull requests merged in 2022-01, with the labels that each got.

#1674 DER-121 - The ParticipationNotes ontology, which contains one class, should be merged with DepositoryReceipts
  AboutFIBODev.rdf
  DER/DerivativesContracts/MetadataDERDerivativesContracts.rdf
  DER/DerivativesContracts/ParticipationNotes.rdf
  SEC/Equities/DepositaryReceipts.rdf
  catalog-v001.xml
Labels: consistency, SEC, DER, definition

#1671 SEC-170 - Further work is needed to clean up the pool-backed securities ontology
  BE/LegalEntities/LegalPersons.rdf
  BP/SecuritiesIssuance/DebtIssuance.rdf
  SEC/Debt/AssetBackedSecurities/AssetBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/MortgageBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/PoolBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/SyntheticCDOs.rdf
  SEC/Funds/CollectiveInvestmentVehicles.rdf
  SEC/Funds/Funds.rdf
  SEC/Securities/Pools.rdf
Labels: consistency, SEC, definition

#1677 DER-120 - Merge the IROptions ontology in rate derivatives with ExoticOptions in the main derivatives contracts module
  AboutFIBODev.rdf
  DER/DerivativesContracts/ExoticOptions.rdf
  DER/RateDerivatives/IROptions.rdf
  DER/RateDerivatives/MetadataDERRateDerivatives.rdf
  FBC/DebtAndEquities/Debt.rdf
  catalog-v001.xml
Labels: consistency, modularization, DER

#1681 DER-120 - correct hygiene issue
  FBC/DebtAndEquities/Debt.rdf
Labels: bug, FBC

#1682 SEC-172 - Move the AssetBackedSecurities ontologies from the subordinate module to the main Debt module
  AboutFIBODev.rdf
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  BP/SecuritiesIssuance/DebtIssuance.rdf
  BP/SecuritiesIssuance/PrivateLabelMBSIssuance.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  SEC/Debt/AssetBackedSecurities.rdf
  SEC/Debt/AssetBackedSecurities/MetadataSECDebtAssetBackedSecurities.rdf
  SEC/Debt/CollateralizedDebtObligations.rdf
  SEC/Debt/LoanParticipationNotes.rdf
  SEC/Debt/MetadataSECDebt.rdf
  SEC/Debt/MortgageBackedSecurities.rdf
  SEC/Debt/PoolBackedSecurities.rdf
  SEC/Debt/SyntheticCDOs.rdf
  catalog-v001.xml
Labels: consistency, SEC, MD

#1687 FND-358 - Revisions to the currency codes caused a logical inconsistency
  FND/Accounting/CurrencyAmount.rdf
Labels: bug, consistency, FND, FIBO instance data

#1685 BE-244 - References to Macedonia in BE (and in currencies in FND) should be revised to reference NorthMacedonia instead
  BE/GovernmentEntities/EuropeanJurisdiction/SouthernEuropeGovernmentEntitiesAndJurisdictions.rdf
Labels: consistency, BE

#1689 Update readme file to more accurately represent what FIBO is
  README.md
Labels: documentation

#1679 DER-119 - The MD/ETOptionsTemporal ontology does not reflect the current released Options ontology
  DER/DerivativesContracts/Options.rdf
  MD/DerivativesTemporal/ETOptionsTemporal.rdf
Labels: consistency, DER

#1691 FND-359 - Eliminate unused imports in Analytics
  FND/Utilities/Analytics.rdf
Labels: consistency, FND

#1692 SEC-1684 - Wrong dateTime in MetadataSECDebt
  SEC/Debt/MetadataSECDebt.rdf
Labels: bug, SEC

#1697 Wrong references in catalog-v001.xml fixed
  catalog-v001.xml
Labels: bug

#1694 FND-360 - Facilities may not be associated with a site and need an address
  FND/Places/Facilities.rdf
Labels: FND

#1699 SEC-170 - Further work is needed to clean up the pool-backed securities ontology
  AboutFIBOProd.rdf
  SEC/AllSEC.rdf
  SEC/Debt/PoolBackedSecurities.rdf
Labels: SEC

#1668 LOAN-161 - Augment the LoanCore ontology with content required for electronic loan data reporting by regulators
  AboutFIBODev.rdf
  BE/LegalEntities/LegalPersons.rdf
  BE/LegalEntities/MetadataBELegalEntities.rdf
  BE/LegalEntities/NorthAmericanEntities/USExampleExecutives.rdf
  BE/OwnershipAndControl/Executives.rdf
  BE/SoleProprietorships/SoleProprietorships.rdf
  FBC/DebtAndEquities/Debt.rdf
  FBC/FinancialInstruments/FinancialInstruments.rdf
  FBC/ProductsAndServices/ClientsAndAccounts.rdf
  FND/Agreements/Contracts.rdf
  FND/Organizations/FormalOrganizations.rdf
  IND/MarketIndices/BasketIndices.rdf
  LOAN/LoanContracts/LoanCore.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  SEC/Debt/Bonds.rdf
  SEC/Equities/EquityInstruments.rdf
  catalog-v001.xml
Labels: FND, BE, FBC, definition, LOAN

#1701 SEC-171 - Merge DebtAnalytics and DebtPricingYields in MD to eliminate circular references and redundancies
  AboutFIBODev.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/DebtTemporal/DebtPricingYields.rdf
  MD/DebtTemporal/MetadataMDDebtTemporal.rdf
  catalog-v001.xml
Labels: consistency, SEC, MD

#1702 SEC-173 - Instances of owl:Restriction
  SEC/Equities/EquityInstruments.rdf
Labels: enhancement, consistency, SEC

#1703 Tests for deprecated resources were modified
  etc/testing/hygiene/testHygiene1610.sparql
  etc/testing/hygiene/testHygiene1675_classes.sparql
  etc/testing/hygiene/testHygiene1675_datatypeproperties.sparql
  etc/testing/hygiene/testHygiene1675_deprecated_resources.sparql
  etc/testing/hygiene/testHygiene1675_individuals.sparql
  etc/testing/hygiene/testHygiene1675_objectproperties.sparql
Labels: hygiene

#1705 SEC-169 - Simplify the CFI codes for equity instruments to eliminate the restrictions on hasDenotation
  SEC/Equities/EquityCFIClassificationIndividuals.rdf
Labels: consistency, SEC, FIBO instance data

#1710 SEC-174 - Misquoted properties in PROD
  DER/RateDerivatives/IRSwapExampleIndividuals.rdf
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
Labels: bug, SEC, DER

#1709 FIBO-1695 - Files missing in catalog-v001.xml
  catalog-v001.xml
Labels: bug, imports

#1708 Check for untyped URIs extended
  etc/testing/hygiene/testHygiene0001_objects.sparql
  etc/testing/hygiene/testHygiene0001_properties.sparql
  etc/testing/hygiene/testHygiene0001_subjects.sparql
Labels: bug, hygiene

#1712 SEC-166 - Need to broaden the definition of depositary receipt in order to cover other approaches
  SEC/Equities/DepositaryReceipts.rdf
Labels: SEC, definition
