Repository edmcouncil/fibo, pull requests merged in 2022-12, with the labels that each got.

#1853 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: CONTRIBUTING.md

#1855 DER-1854 - Missing word in definition of knock-in option
  DER/DerivativesContracts/ExoticOptions.rdf
Labels: DER, definition

#1849 DER-137 - Revise the CDS ontology to include concepts defined in the Fed overview and CFI standard
  AboutFIBOProd-IncludingReferenceData.rdf
  AboutFIBOProd-TBoxOnly.rdf
  AboutFIBOProd.rdf
  DER/AllDER.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/CreditDerivatives/MetadataDERCreditDerivatives.rdf
  FBC/FinancialInstruments/InstrumentPricing.rdf
Labels: enhancement, DER
