Repository edmcouncil/fibo, pull requests merged in 2023-01, with the labels that each got.

#1859 Update README.md
  CONTRIBUTING.md
  ONTOLOGY_GUIDE.md
  README.md
Labels: bug, documentation

#1861 Extension to CMNS AV ontology added to hygiene tests
  etc/testing/hygiene_parameterized/testHygiene0005.sparql
  etc/testing/hygiene_parameterized/testHygiene0268.sparql
Labels: hygiene

#1863 Update config files
  etc/onto-viewer-web-app/config/groups_config.yaml
  etc/onto-viewer-web-app/config/label_config.yaml
Labels: FIBO Viewer

#1864 BE-250 - Replace specification metadata-related annotations with annotations from the Commons Ontology Library in the FIBO Business Entities (BE) Domain
  BE/AllBE-Europe.rdf
  BE/AllBE-ExampleIndividuals.rdf
  BE/AllBE-NorthAmerica.rdf
  BE/AllBE-NorthAmericanExamples.rdf
  BE/AllBE-ReferenceIndividuals.rdf
  BE/AllBE.rdf
  BE/Corporations/Corporations.rdf
  BE/Corporations/MetadataBECorporations.rdf
  BE/FunctionalEntities/FunctionalEntities.rdf
  BE/FunctionalEntities/MetadataBEFunctionalEntities.rdf
  BE/FunctionalEntities/Publishers.rdf
  BE/GovernmentEntities/AsianJurisdiction/CentralAsiaGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/AsianJurisdiction/EasternAsiaGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/AsianJurisdiction/SoutheasternAsiaGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/AsianJurisdiction/SouthernAsiaGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/AsianJurisdiction/WesternAsiaGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/EuropeanJurisdiction/EUGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/EuropeanJurisdiction/EasternEuropeGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/EuropeanJurisdiction/NorthernEuropeGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/EuropeanJurisdiction/SouthernEuropeGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/EuropeanJurisdiction/UKGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/EuropeanJurisdiction/WesternEuropeGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/GovernmentEntities.rdf
  BE/GovernmentEntities/LatinAmericanJurisdiction/CentralAmericanGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/LatinAmericanJurisdiction/SouthAmericanGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/MetadataBEGovernmentEntities.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/CAGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/CaribbeanGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/MXGovernmentEntitiesAndJurisdictions.rdf
  BE/GovernmentEntities/NorthAmericanJurisdiction/USGovernmentEntitiesAndJurisdictions.rdf
  BE/LegalEntities/CorporateBodies.rdf
  BE/LegalEntities/FormalBusinessOrganizations.rdf
  BE/LegalEntities/LEIEntities.rdf
  BE/LegalEntities/LegalPersons.rdf
  BE/LegalEntities/MetadataBELegalEntities.rdf
  BE/LegalEntities/NorthAmericanEntities/USExampleEntities.rdf
  BE/LegalEntities/NorthAmericanEntities/USExampleExecutives.rdf
  BE/MetadataBE.rdf
  BE/OwnershipAndControl/ControlParties.rdf
  BE/OwnershipAndControl/CorporateControl.rdf
  BE/OwnershipAndControl/CorporateOwnership.rdf
  BE/OwnershipAndControl/Executives.rdf
  BE/OwnershipAndControl/MetadataBEOwnershipAndControl.rdf
  BE/OwnershipAndControl/OwnershipParties.rdf
  BE/Partnerships/MetadataBEPartnerships.rdf
  BE/Partnerships/Partnerships.rdf
  BE/PrivateLimitedCompanies/MetadataBEPrivateLimitedCompanies.rdf
  BE/PrivateLimitedCompanies/PrivateLimitedCompanies.rdf
  BE/SoleProprietorships/MetadataBESoleProprietorships.rdf
  BE/SoleProprietorships/SoleProprietorships.rdf
  BE/Trusts/MetadataBETrusts.rdf
  BE/Trusts/Trusts.rdf
Labels: enhancement, consistency, SM, BE, ONTOLOGY_GUIDE.md
