Repository edmcouncil/fibo, pull requests merged in 2023-02, with the labels that each got.

#1870 SEC-183 - Replace specification metadata-related annotations with annotations from the Commons Ontology Library in the FIBO Securities (SEC) Domain
  SEC/AllSEC-ExampleIndividuals.rdf
  SEC/AllSEC-ReferenceIndividuals.rdf
  SEC/AllSEC.rdf
  SEC/Debt/AssetBackedSecurities.rdf
  SEC/Debt/Bonds.rdf
  SEC/Debt/CollateralizedDebtObligations.rdf
  SEC/Debt/DebtInstruments.rdf
  SEC/Debt/ExerciseConventions.rdf
  SEC/Debt/LoanParticipationNotes.rdf
  SEC/Debt/MetadataSECDebt.rdf
  SEC/Debt/MortgageBackedSecurities.rdf
  SEC/Debt/PoolBackedSecurities.rdf
  SEC/Debt/SyntheticCDOs.rdf
  SEC/Debt/TradedShortTermDebt.rdf
  SEC/Equities/DepositaryReceipts.rdf
  SEC/Equities/EquitiesExampleIndividuals.rdf
  SEC/Equities/EquityCFIClassificationIndividuals.rdf
  SEC/Equities/EquityInstruments.rdf
  SEC/Equities/MetadataSECEquities.rdf
  SEC/Funds/CollectiveInvestmentVehicles.rdf
  SEC/Funds/Funds.rdf
  SEC/Funds/MetadataSECFunds.rdf
  SEC/MetadataSEC.rdf
  SEC/Securities/Baskets.rdf
  SEC/Securities/MetadataSECSecurities.rdf
  SEC/Securities/ParametricSchedules.rdf
  SEC/Securities/Pools.rdf
  SEC/Securities/SecuritiesClassification.rdf
  SEC/Securities/SecuritiesIdentification.rdf
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
  SEC/Securities/SecuritiesIssuance.rdf
  SEC/Securities/SecuritiesListings.rdf
  SEC/Securities/SecuritiesRestrictions.rdf
  SEC/Securities/SecurityAssets.rdf
Labels: enhancement, consistency, SM, SEC, ONTOLOGY_GUIDE.md

#1872 IND-123 - Replace specification metadata-related annotations with annotations from the Commons Ontology Library in the FIBO Indices and Indicators (IND) Domain
  IND/AllIND-ExampleIndividuals.rdf
  IND/AllIND-NorthAmerica.rdf
  IND/AllIND-ReferenceRates.rdf
  IND/AllIND.rdf
  IND/EconomicIndicators/EconomicIndicators.rdf
  IND/EconomicIndicators/MetadataINDEconomicIndicators.rdf
  IND/EconomicIndicators/NorthAmericanIndicators/CAEconomicIndicators.rdf
  IND/EconomicIndicators/NorthAmericanIndicators/USEconomicIndicators.rdf
  IND/ForeignExchange/ForeignExchange.rdf
  IND/ForeignExchange/MetadataINDForeignExchange.rdf
  IND/Indicators/Indicators.rdf
  IND/Indicators/MetadataINDIndicators.rdf
  IND/InterestRates/CommonInterestRates.rdf
  IND/InterestRates/InterestRates.rdf
  IND/InterestRates/MarketDataProviders.rdf
  IND/InterestRates/MetadataINDInterestRates.rdf
  IND/MarketIndices/BasketIndices.rdf
  IND/MarketIndices/EquityIndexExampleIndividuals.rdf
  IND/MarketIndices/MetadataINDMarketIndices.rdf
  IND/MetadataIND.rdf
Labels: enhancement, consistency, SM, IND, ONTOLOGY_GUIDE.md

#1874 DER-106 - LEPOs (low exercise price option) are missing from the Exotic Options ontology
  DER/DerivativesContracts/ExoticOptions.rdf
Labels: enhancement, DER

#1878 DER-141 - Replace specification metadata-related annotations with annotations from the Commons Ontology Library in the FIBO Derivatives (DER) Domain
  DER/AllDER-ExampleIndividuals.rdf
  DER/AllDER-ReferenceIndividuals.rdf
  DER/AllDER.rdf
  DER/CreditDerivatives/CreditDefaultSwaps.rdf
  DER/CreditDerivatives/MetadataDERCreditDerivatives.rdf
  DER/DerivativesContracts/CommoditiesContracts.rdf
  DER/DerivativesContracts/CurrencyContracts.rdf
  DER/DerivativesContracts/DerivativesBasics.rdf
  DER/DerivativesContracts/DerivativesMasterAgreements.rdf
  DER/DerivativesContracts/ExoticOptions.rdf
  DER/DerivativesContracts/FuturesAndForwards.rdf
  DER/DerivativesContracts/MetadataDERDerivativesContracts.rdf
  DER/DerivativesContracts/Options.rdf
  DER/DerivativesContracts/RightsAndWarrants.rdf
  DER/DerivativesContracts/Swaps.rdf
  DER/DerivativesContracts/SwapsIndividuals.rdf
  DER/MetadataDER.rdf
  DER/RateDerivatives/IRSwapExampleIndividuals.rdf
  DER/RateDerivatives/IRSwaps.rdf
  DER/RateDerivatives/MetadataDERRateDerivatives.rdf
  DER/RateDerivatives/RateDerivatives.rdf
  DER/SecurityBasedDerivatives/EquitySwaps.rdf
  DER/SecurityBasedDerivatives/MetadataDERSecurityBasedDerivatives.rdf
  DER/SecurityBasedDerivatives/SecurityBasedDerivatives.rdf
Labels: enhancement, consistency, SM, DER, ONTOLOGY_GUIDE.md

#1882 IND-124 - Replace specification metadata-related annotations with annotations from the Commons Ontology Library in the FIBO Corporate Actions (CAE) Domain
  CAE/AllCAE.rdf
  CAE/CorporateEvents/CorporateActions.rdf
  CAE/CorporateEvents/GLEIF-CorporateActionIndividuals.rdf
  CAE/CorporateEvents/ISO15022-CorporateActionIndividuals.rdf
  CAE/CorporateEvents/MetadataCAECorporateEvents.rdf
  CAE/CorporateEvents/SecurityRelatedCorporateActions.rdf
  CAE/MetadataCAE.rdf
Labels: enhancement, consistency, SM, ONTOLOGY_GUIDE.md, CAE

#1885 FND-317 - Replace specification metadata-related annotations with annotations from the Commons Ontology Library in the FIBO Business Process (BP) Domain
  BP/MetadataBP.rdf
  BP/Process/FinancialContextAndProcess.rdf
  BP/Process/MetadataBPProcess.rdf
  BP/SecuritiesIssuance/AgencyMBSIssuance.rdf
  BP/SecuritiesIssuance/DebtIssuance.rdf
  BP/SecuritiesIssuance/EquitiesIPOIssuance.rdf
  BP/SecuritiesIssuance/IssuanceDocuments.rdf
  BP/SecuritiesIssuance/IssuanceProcess.rdf
  BP/SecuritiesIssuance/MBSIssuance.rdf
  BP/SecuritiesIssuance/MetadataBPSecuritiesIssuance.rdf
  BP/SecuritiesIssuance/MuniIssuance.rdf
  BP/SecuritiesIssuance/PrivateLabelMBSIssuance.rdf
Labels: enhancement, consistency, SM, BP, ONTOLOGY_GUIDE.md

#1887 FND-372 - Replace specification metadata-related annotations with annotations from the Commons Ontology Library in the FIBO Market Data (MD) Domain
  AboutFIBODev.rdf
  AboutFIBOProd-IncludingReferenceData.rdf
  AboutFIBOProd-TBoxOnly.rdf
  AboutFIBOProd.rdf
  BE/Partnerships/Partnerships.rdf
  BE/SoleProprietorships/SoleProprietorships.rdf
  BE/Trusts/Trusts.rdf
  MD/CIVTemporal/FundsTemporal.rdf
  MD/CIVTemporal/MetadataMDCIVTemporal.rdf
  MD/DebtTemporal/DebtAnalytics.rdf
  MD/DebtTemporal/MetadataMDDebtTemporal.rdf
  MD/DerivativesTemporal/ETOptionsTemporal.rdf
  MD/DerivativesTemporal/FuturesTemporal.rdf
  MD/DerivativesTemporal/MetadataMDDerivativesTemporal.rdf
  MD/MetadataMD.rdf
  MD/TemporalCore/MetadataMDTemporalCore.rdf
  MD/TemporalCore/SecurityCreditStatuses.rdf
  MD/TemporalCore/SecurityTradingStatuses.rdf
  MetadataFIBO.rdf
Labels: enhancement, consistency, SM, MD

#1890 Update of hygiene tests
  ONTOLOGY_GUIDE.md
  etc/testing/hygiene_parameterized/testHygiene1067.sparql
  etc/testing/hygiene_parameterized/testHygiene1177.sparql
  etc/testing/hygiene_parameterized/testHygiene1290.sparql
  etc/testing/hygiene_parameterized/testHygiene1293.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_classes.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_datatypeproperties.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_individuals.sparql
  etc/testing/hygiene_parameterized/testHygiene1675_objectproperties.sparql
  etc/testing/hygiene_parameterized/testHygiene_annotations_comment.sparql
  etc/testing/hygiene_parameterized/testHygiene_annotations_definition.sparql
  etc/testing/hygiene_parameterized/testHygiene_annotations_label.sparql
  etc/testing/hygiene_parameterized/testHygiene_classes_subclassof_non-circular.sparql
  etc/testing/hygiene_parameterized/testHygiene_classes_unique_concept.sparql
  etc/testing/hygiene_parameterized/testHygiene_definitions_non-cricular.sparql
  etc/testing/hygiene_parameterized/testHygiene_equivalentClass.sparql
  etc/testing/hygiene_parameterized/testHygiene_iris_dots.sparql
  etc/testing/hygiene_parameterized/testHygiene_labels_single.sparql
  etc/testing/hygiene_parameterized/testHygiene_labels_unique.sparql
  etc/testing/hygiene_parameterized/testHygiene_literals_bad_chars.sparql
  etc/testing/hygiene_parameterized/testHygiene_literals_leading_blank.sparql
  etc/testing/hygiene_parameterized/testHygiene_literals_multiple_blank.sparql
  etc/testing/hygiene_parameterized/testHygiene_literals_trailing_blank.sparql
  etc/testing/hygiene_parameterized/testHygiene_obsolete_restrictions_min.sparql
  etc/testing/hygiene_parameterized/testHygiene_obsolete_restrictions_someValuesFrom.sparql
  etc/testing/hygiene_parameterized/testHygiene_ontologies_abstract.sparql
  etc/testing/hygiene_parameterized/testHygiene_ontologies_copyright.sparql
  etc/testing/hygiene_parameterized/testHygiene_ontologies_label.sparql
  etc/testing/hygiene_parameterized/testHygiene_ontologies_license.sparql
  etc/testing/hygiene_parameterized/testHygiene_opaque_iris.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_allValuesFrom_equivalent.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_cgi_with_equivalent.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_cgi_with_subclassof.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_complement_equivalent.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_high_max_restriction.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_high_min_restriction.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_left_subclass_and_equivalent.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_multiple_different_individuals.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_multiple_disjuncts.sparql
  etc/testing/hygiene_parameterized/testHygiene_performance_thing_equivalent.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_inverse.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_iri.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_punning_chain.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_punning_declaration.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_punning_disjoint.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_punning_equivalent.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_punning_inverse.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_punning_subproperty.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_subproperty_domain.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_subproperty_non-circular.sparql
  etc/testing/hygiene_parameterized/testHygiene_properties_subproperty_range.sparql
  etc/testing/hygiene_parameterized/testHygiene_resources_deprecated.sparql
  etc/testing/hygiene_parameterized/testHygiene_resources_deprecated_count.sparql
  etc/testing/hygiene_parameterized/testHygiene_triples_owlThing.sparql
  etc/testing/hygiene_parameterized/testHygiene_triples_untyped_object.sparql
  etc/testing/hygiene_parameterized/testHygiene_triples_untyped_property.sparql
  etc/testing/hygiene_parameterized/testHygiene_triples_untyped_subject.sparql
Labels: hygiene
