Repository edmcouncil/fibo, pull requests merged in 2024-04, with the labels that each got.

#2007 FBC-318 - Add the concept of a business calendar
  FND/DatesAndTimes/FinancialDates.rdf
Labels: enhancement, FND, FBC

#2003 Fix to report from testHygiene_performance_multiple_different_individuals
  etc/testing/hygiene_parameterized/testHygiene_performance_multiple_different_individuals.sparql
Labels: hygiene

#2010 SEC-196 - Revise the definition of ticker-symbol to broaden its scope
  IND/InterestRates/MarketDataProviders.rdf
  SEC/Securities/SecuritiesIdentification.rdf
  SEC/Securities/SecuritiesIdentificationIndividuals.rdf
Labels: consistency, IND, FBC, SEC
